<div id='comments-collapsable-div'>
    <div class="input-group">
        <input id="comment"
               class="form-control"
               type="text"/>
            <span class="input-group-btn">
            <button id="add-comment" class="btn btn-primary" type="button">
                <i class="fa fa-plus"></i> Add
            </button>
            </span>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="margin-top: 15px">
                <div class="comments-table-region"></div>
            </div>
        </div>
    </div>
</div>