n49.q2Jk;Q43WceX<div class="row">
    <div class="col-sm-12">
        <div class="shopping-region"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2" style="margin-right: 0; padding-right: 0">
        <!-- Hits Facets -->
        <div class="hits-facets-region"></div>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
        <!-- Hits View Template -->
        <div id="hits-div">
            <div class="hits-table-region">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="hits-details-region"></div>
    </div>
</div>