<div class='row' style="margin-bottom: 15px">
    <div class='col-sm-12'>
        <label>
            <h4>
                <i class="fa fa-filter"></i> Filter By Tag
            </h4>
        </label>
        <span id="tag-select-region"></span>
    </div>
</div>