<button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-calendar"></i> Identity: <span class="selected"></span>
</button>
<ul class="dropdown-menu">
    <!-- Identity values. -->
</ul>