<div id="md5-dialog" class="modal fade" tabindex='-1' xmlns="http://www.w3.org/1999/html">
    <div class="modal-dialog" style="width: 50%;">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>
                    <icon class="fa fa-file"></icon>
                    MD5: <%= vt.md5 %>
                </h4>
            </div>
            <div id="md5-dialog-modal-body" class="modal-body" style="height: 800px; max-height: 700px; overflow: auto">
            </div>
        </div>
    </div>
</div>