
<a id="top"></a>

<div class="row">
    <div class="col-sm-12">
        <div id="shopping-div">

            <div class="row">
                <div class="col-sm-12">
                    <div id="cluster-selection-region"></div>
                </div>
            </div>

            <!-- Selection Results -->
            <div class="row" style="margin-top: 30px">
                <div class="col-md-6">
                    <!-- Column 1, IOC Summary -->
                    <div id="ioc-summary-region" style="display: none">
                        <h4>
                            <i class="fa fa-list"></i> IOC Summary
                        </h4>
                        <hr style="margin-top: 5px"/>

                        <div id="ioc-summary-table-region">
                            <div style="width: 100%; height: 400px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Column2, IOC Details -->
                    <div id="ioc-details-region">
                        <div style="height: 600px"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
