
<a id="top"></a>

<div class="row">
    <div class="col-sm-12">
        <div id="shopping-div">

            <div class="row">
                <div class="col-sm-12">
                    <div class="cluster-selection-region"></div>
                </div>
            </div>

            <!-- Selection Results -->
            <div class="row" style="margin-top: 30px">
                <div class="col-md-6">
                    <!-- Column 1, IOC Summary -->
                    <div id="ioc-summary-div" style="display: none">
                        <h4>
                            <i class="fa fa-list"></i> IOC Summary
                        </h4>
                        <hr style="margin-top: 5px"/>

                        <div class="ioc-summary-region"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- Column2, IOC Details -->
                    <div class="ioc-details-region">
                        <div style="height: 600px"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
