<div class="row">
    <div class="col-sm-12">
        <div id="cluster-selection">
        </div>
    </div>
</div>

<!-- Selection Results -->
<div class="row" style="margin-top: 30px">
    <div class="col-md-6">
        <!-- Column 1, IOC Summary -->
        <div id="ioc-summary-div" style="display: none">
            <h4>
                <i class="fa fa-list"></i> IOC Summary
            </h4>
            <hr style="margin-top: 5px"/>

            <div id="ioc-summary"></div>
        </div>
    </div>

    <div class="col-md-6">
        <!-- Column2, IOC Details -->
        <div id="ioc-details-div" style="display: none">
            <div style="height: 600px"></div>
        </div>
    </div>
</div>