{% extends "/uac/base.html" %}

{% block title %}UAC - {{ super() }}{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container" style="width:100%">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <img src="/static/img/mandiant-trans-small.png" class="img-responsive" alt="Responsive image">
                <h2 class="pull-left">Unified Analyst Console</h2>
            </div>
            <div class="col-sm-12 col-md-6">

                <h3>What's Next?</h3>
                <h4>
                    <ul class="list-unstyled" style="margin-top: 15px">
                        <li style="margin-bottom: 15px">
                            <i class="fa fa-star"></i> Acquisitions Enhancements
                        </li>
                        <li style="margin-bottom: 15px">
                            <i class="fa fa-star"></i> Find Evil Button <i class="fa fa-dot-circle-o" style="color: red"></i>
                        </li>
                        <li style="margin-bottom: 15px">
                            <i class="fa fa-star"></i> Hit Prioritization
                        </li>
                    </ul>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3><i class="fa fa-smile-o"></i> UAC 0.7-0/1</h3>

            <dl>
                <dt>Hit Review</dt>
                <dd>
                    <ul>
                        <li>
                            Added the ability to select clients as well as clusters. The clusters available to select
                            are those that are not associated with any of the currently selected clients.
                        </li>
                        <li>
                            IOC summary data no longer refreshes when selecting shopping criteria. Criteria selection
                            should now be quicker and easier. A submit button is not required to load the IOC summary
                            data.
                        </li>
                        <li>
                            Removed the claimed counts and checkout option from the IOC selection view. It was reported
                            these counts were not being used. They will eventually be replaced with a better alternative.
                        </li>
                        <li>
                            Removed existing user settings and replaced it with a lightweight client side alternative.
                        <li>
                            IOC Name selection is now persisted across page refreshes.
                        </li>
                        <li>
                            Consolidated the shopping and hit review menu options to a single hit review option.
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl>
                <dt>Server Changes</dt>
                <dd>
                    <ul>
                        <li>
                            Added an additional header to the nginx configuration to support Secure cookies. This is in
                            support of caching credentials for acquisitions.
                        </li>
                        <li>
                            Forwarding additional SSO parameters on REST calls to Seasick.
                        </li>
                        <li>
                            Updated acquisition related UAC functionality to adhere to Seasick API changes.
                        </li>
                        <li>
                            sfmatcher sends notifications of large (>100mb) audits instead of storing in db.
                        </li>
                        <li>
                            Strikefinder backend statistics are now being collected in graphite.
                        </li>
                    </ul>
                </dd>
            </dl>

            <dl>
                <dt>Fixes</dt>
                <ul>
                    <li>
                        Resolved issue that was causing an error message when downloading an acquisition.
                    </li>
                    <li>
                        Changed the downloaded acquisition filename to host-file.zip.
                    </li>
                    <li>
                        Resolved issue related to incorrect host time logged status.
                    </li>
                </ul>
            </dl>

        </div>

        <div class="col-md-4">
            <h3><i class="fa fa-meh-o"></i> UAC 0.6-1</h3>
            <dl>
                <dt>Hit Review</dt>
                <dd>
                    <ul>
                        <li>
                            Added support for viewing hits by IOC Name and IOC UUID.
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>Fixes</dt>
                <dd>
                    <ul>
                        <li>
                            Addressed hit counts and listings issues that were introduced in the last release.
                        </li>
                        <li>
                            IOC links pages are now displayed in a new window.
                        </li>
                        <li>
                            Release notes added to the UAC front page.
                        </li>
                        <li>
                            Improved error pages.
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <h3><i class="fa fa-smile-o"></i> UAC 0.6-0</h3>
                <dl>
                    <dt>
                        Negate Support for Suppressions and Mass Tagging
                    </dt>
                    <dd>
                        <ul>
                            <li>
                                The negate option has been added to the suppression and mass tagging forms.
                            </li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt>
                        Identity Rollup
                    </dt>
                    <dd>
                        <ul>
                            <li>
                                UAC has been updated to support rolling up rowitems based on identities.  You will now only see the newest rowitem for
                                any identity instead of a row for each item with the same identity.
                            </li>
                            <li>
                                Identity rollup applies to the IOC Selection, Hits, and Host views.  The Suppression and hits by tag views are still
                                rendered with each individual row item.
                            </li>
                            <li>
                                To support this change the IOC Name, IOC UUID, and IOC Expression columns were removed from the host view hits table.
                            </li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt>Sharing Links</dt>
                    <dd>
                        <ul>
                            <li>
                                Added sharing links on the hits and suppressions views enabling users to easily grab a link to a specific hit or
                                suppression.
                            </li>
                            <li>
                                Multiple rowitems may by passed on the link.
                            </li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt>Host search</dt>
                    <dd>
                        <ul>
                            <li>
                                Refactored host search capability to provide a more user friendly look and feel.
                            </li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt>Suppression Name Changed to Suppression Description</dt>
                    <dd>
                        <ul>
                            <li>
                                The suppression name field was modified to allow users to better capture the reason that they are creating the suppression.
                            </li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt>Added link to expand/collapse the IOC content.</dt>
                    <dd>
                        <ul>
                            <li>
                                It was requested to include a link to expand the IOC content rather than clicking on the logic tree in order to make
                                copying and pasting easier.
                            </li>
                        </ul>
                    </dd>
                </dl>

                <dl>
                    <dt>Fixes</dt>
                    <dd>
                        <ul>
                            <li>
                                Expanded the content for the acquisition error popups.
                            </li>
                            <li>
                                Removed extra lines in the file item portal formatted data.
                            </li>
                            <li>
                                Fixed issue related to the IOC tab for the currently selected IOC expression not being selected.
                            </li>
                            <li>
                                Merged fix related to issue with IOC viewer displaying XML text rather than the IOC logic tree.
                            </li>
                            <li>
                                Displaying message when there is not a file audit available for an acquisition.
                            </li>
                        </ul>
                    </dd>
                </dl>
        </div>
    </div>
</div>
{% endblock %}

