{% extends "uac/uac.html" %}

{% block title %}{{ method }} {{ url }} - {{ super() }}{% endblock %}

{% block head %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="well text-info" style="font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace">
                {{ method }} {{ url }}
            </h4>

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseHeaders">
                                Headers ( {{headers.length}} )
                            </a>
                        </h4>
                    </div>
                    <div id="collapseHeaders" class="panel-collapse collapse">
                        <div class="panel-body">
<pre class="uac-pre-custom">
{% for header in headers %}{{ header.name }} = {{ header.value }}
{% endfor %}</pre>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseParams">
                                Params ( {{ query.length }} )
                            </a>
                        </h4>
                    </div>
                    <div id="collapseParams" class="panel-collapse collapse">
                        <div class="panel-body">
<pre class="uac-pre-custom">
{% for param in query %}{{ param.name }} = {{ param.value }}
{% endfor %}</pre>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseBody">
                                Body
                            </a>
                        </h4>
                    </div>
                    <div id="collapseBody" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <pre class="uac-pre-custom">{{ rest }}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}