{% extends "sf/sf.html" %}

{% block title %}Acquisitions - {{ super() }}{% endblock %}

{% block data_main %}sf/apps/AcquisitionsApp{% endblock %}

{% block head %}
{{ super() }}

<style>
    /* Make the width of the tooltip larger. */
    div[class="tooltip-inner"] {
        max-width: 400px;
    }
</style>

<script type="text/javascript">
    StrikeFinder = window.StrikeFinder || {};
    StrikeFinder.services = {{ services | safe }};
    StrikeFinder.clients = {{ clients | safe }};
    StrikeFinder.clusters = {{ clusters | safe }};
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="collapsable-div">
                <div class="row">
                    <div class="col-sm-6">
                        <div id="cluster-selection-div">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id='results-div' style="display: none">
                <table id="acquisitions-table"
                       class="table table-striped table-bordered table-condensed">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
