{% extends "sf/base.html" %}

{% block title %}Acquisitions - {{ super() }}{% endblock %}

{% block head %}
{{ super() }}

    {% include "sf/templates.html" %}

    <style>
            /* Override the default dialog position so that it is not in front of the file/info view. */
        .modal, .modal.fade.in {
            top: 20%;
            left: 30%;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            StrikeFinder.AcquisitionsView = StrikeFinder.View.extend({
                initialize: function () {
                    var view = this;

                    view.acquisitions_table = new StrikeFinder.SuppressionsTableView({
                        el: '#acquisitions-table'
                    });
                    //view.listenTo(view.suppressions_table, 'click', view.render_hits);
                    //view.listenTo(view.suppressions_table, 'delete', view.fetch);
                    //view.listenTo(view.suppressions_table, 'empty', function () {
                    //    $('.hits-view').fadeOut().hide();
                    //    $('.details-view').fadeOut().hide();
                    //});
                },
                do_render_hits: function (data) {
                    var view = this;

                    log.debug('Row selected: ' + JSON.stringify(data));

                    var suppression_id = data['suppression_id'];

                    view.run_once('init_hits', function () {
                        view.hits_table_view = new StrikeFinder.HitsSuppressionTableView({
                            el: '#hits-table'
                        });

                        view.hits_details_view = new StrikeFinder.HitsDetailsView({
                            el: '#hits-details-view',
                            hits_table_view: view.hits_table_view,
                            tag: false,
                            suppress: false,
                            masstag: false
                        });
                    });

                    view.hits_table_view.fetch(suppression_id);

                    $('.hits-view').fadeIn().show();
                },
                render_hits: function (data) {
                    var view = this;
                    StrikeFinder.run(function () {
                        view.do_render_hits(data);
                    });
                },
                fetch: function () {
                    var view = this;
                    StrikeFinder.run(function () {
                    });
                }
            });

            (function () {
                StrikeFinder.clusters = {{ clusters }};

                StrikeFinder.run(function () {
                    new StrikeFinder.AcquisitionsView().fetch();
                });
            })();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div id='acquisitions-div'>
                    <table id="acquisitions-table"
                           class="table table-striped table-bordered table-hover table-condensed">
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
