{% extends "common/base.html" %}

{% block title %}StrikeFinder - {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

    {% if node_env == "prod" %}
        {# Include the compressed StrikeFinder Javascript file. #}
        <script lang="text/javascript" src="/static/sf/js/strikefinder.js"></script>
    {% else %}
        {# Include the raw StrikeFinder Javascript source files. #}
        <script lang="text/javascript" src="/static/sf/js/common.js"></script>
        <script lang="text/javascript" src="/static/sf/js/models.js"></script>

        <script lang="text/javascript" src="/static/sf/js/hits.js"></script>

        <script lang="text/javascript" src="/static/sf/js/acquisitions.js"></script>
        <script lang="text/javascript" src="/static/sf/js/hits-by-tag.js"></script>
        <script lang="text/javascript" src="/static/sf/js/hosts.js"></script>
        <script lang="text/javascript" src="/static/sf/js/shopping.js"></script>
        <script lang="text/javascript" src="/static/sf/js/suppressions.js"></script>
        <script lang="text/javascript" src="/static/sf/js/tasks.js"></script>
    {% endif %}

    {# Include the compiled templates. #}
    <script lang="text/javascript" src="/static/sf/js/templates.js"></script>

{% endblock %}

{% block nav_menu %}
<li><a href="/sf/shopping/"><i class="fa fa-list"></i> Hit Review</a></li>
<li><a href="/sf/suppressions/"><i class="fa fa-level-down"></i> Suppressions</a></li>
<li><a href="/sf/hits_by_tag/"><i class="fa fa-tags"></i> Hits by Tag</a></li>
<li><a href="/sf/acquisitions/"><i class="fa fa-cloud-download"></i> Acquisitions</a></li>
<li><a href="/sf/tasks/"><i class="fa fa-tasks"></i> Tasks</a></li>
{% endblock %}

{% block form_menu %}
    <input id="host-typeahead" type="text" placeholder="Search for Host or IP"/>
{% endblock %}

{% block tail %}
{{ super() }}

<div id="context-menu-div" style="display: none">
</div>

<div id="dialog-div">
</div>

<script type="text/javascript">
    // Initialize the host search component.
    var host_typeahead = new StrikeFinder.HostTypeAheadView({
        el: '#host-typeahead'
    });
</script>
{% endblock %}
