{% extends "common/base.html" %}

{% block title %}StrikeFinder - {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

    <script lang="text/javascript" src="/static/sf/js/utils.js"></script>
    <script lang="text/javascript" src="/static/sf/js/models.js"></script>
    <script lang="text/javascript" src="/static/sf/js/components.js"></script>

    <script lang="text/javascript" src="/static/sf/js/hits.js"></script>

    <script lang="text/javascript" src="/static/sf/js/acquisitions.js"></script>
    <script lang="text/javascript" src="/static/sf/js/hits-by-tag.js"></script>
    <script lang="text/javascript" src="/static/sf/js/hosts.js"></script>
    <script lang="text/javascript" src="/static/sf/js/shopping.js"></script>
    <script lang="text/javascript" src="/static/sf/js/suppressions.js"></script>
    <script lang="text/javascript" src="/static/sf/js/tasks.js"></script>


    {% include "/sf/templates.html" %}
{% endblock %}

{% block nav_menu %}
<li><a href="/sf/shopping/"><i class="icon-search"></i> IOC Selection</a></li>
<li><a href="/sf/hits/"><i class="icon-list"></i> Hit Review</a></li>
<li><a href="/sf/suppressions/"><i class="icon-level-down"></i> Suppressions</a></li>
<li><a href="/sf/hits_by_tag/"><i class="icon-tags"></i> Hits by Tag</a></li>
<li><a href="/sf/acquisitions/"><i class="icon-cloud-download"></i> Acquisitions</a></li>
<li><a href="/sf/tasks/"><i class="icon-tasks"></i> Tasks</a></li>
<li>
    <div style="margin-top: 5px;">
        <div id="host-select" class="pull-right" style="width: 200px"></div>
    </div>
</li>
{% endblock %}

{% block tail %}
{{ super() }}

<div id="context-menu-div" style="display: none">
</div>

<div id="dialog-div">
</div>

<script type="text/javascript">
    // Initialize the host search component.
    var host_search_view = new StrikeFinder.SelectHostSearchView({
        el: '#host-select'
    });
    host_search_view.listenTo(host_search_view, 'change', function (am_cert_hash) {
        window.location = _.sprintf('/sf/host/%s/', am_cert_hash);
    });
</script>
{% endblock %}
