{% extends "sf/sf.html" %}

{% block title %}Hit Review - {{ super() }}{% endblock %}

{% block data_main %}sf/main/HitReviewMain{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript">
        StrikeFinder = window.StrikeFinder || {};
        StrikeFinder.services = {{ services | safe }};
        StrikeFinder.clients = {{ clients | safe }};
        StrikeFinder.clusters = {{ clusters | safe }};
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="shopping-region"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="hits-region"></div>
        </div>
    </div>
</div>
{% endblock %}
