{% if not hide_facets %}
<div class="row">
    <div class="col-sm-8 col-lg-9">
        <!-- Hits View Template -->
        <div id="hits-div">
            <table id="hits-table"
                   class="table table-striped table-bordered table-hover table-condensed">
            </table>
        </div>
    </div>
    <div class="col-sm-4 col-lg-3" style="margin-left: 0px; padding-left: 0px">
        <!-- Hits Facets -->
        <div id="hits-facets-div"></div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <!-- Hits View Template -->
        <div id="hits-div">
            <table id="hits-table"
                   class="table table-striped table-bordered table-hover table-condensed">
            </table>
        </div>
    </div>
</div>
{% endif %}

<div class='row'>
    <div class='col-md-6'>

        <!-- Prev/Next View, Host Template View -->
        <div class="row sf-details-view" style="display: none; margin-top: 10px; margin-bottom: 10px;">
            <div class="col-sm-1" style="margin-right: 0px; padding-right: 0px; max-width: 50px">
                <!-- PrevNext View -->
                <div id="prev-next-div" class="pull-left"></div>
            </div>
            <div class="col-sm-11">
                <div id="agent-host-div"></div>
            </div>
        </div>

        <!-- Toolbar -->
        <div class="row sf-details-view" style="display: none;">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h4>
                        <span id="audit-type"></span>
                    </h4>
                </div>

                <div class="pull-right">
                    <div id="tags" class="btn-group">
                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-tags"></i> Tag: <span class="selected"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- Tag values. -->
                        </ul>
                    </div>

                    <div id="identities" class="btn-group">
                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-calendar"></i> Identity: <span class="selected"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!-- Identity values. -->
                        </ul>
                    </div>

                    <button id="merge" class="btn btn-link"><i class="fa fa-collapse-top"></i> Merge</button>
                </div>
            </div>
        </div>

        <!-- Audit View Template -->
        <div class='row sf-details-view' style="overflow: auto">
            <div class="col-md-12">
                <div id="audit-div">
                    <div style="width: 100%; height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class='col-md-6'>
        <!-- IOCs View Template -->
        <div class='row sf-details-view'>
            <div class="col-md-12">
                <div id='iocs-div' style="margin-bottom: 20px">
                    <div style="width: 100%; height: 200px"></div>
                </div>
            </div>
        </div>

        <!-- Comments View Template -->
        <div class='row sf-details-view' style="display: none">
            <div class="col-md-12">
                <div id='comments-collapsable-div'>
                    <div id='comments-div'>
                        <div class="input-group">
                            <input id="comment" class="form-control" id="appendedInputButton" type="text">
                            <span class="input-group-btn">
                                <button id="add-comment" class="btn btn-primary" type="button">
                                    <i class="fa fa-plus"></i> Add
                                </button>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="comments-table"
                                       class="table table-striped table-bordered table-hover table-condensed"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>