{% extends "/sf/sf.html" %}

{% block title %}Idenity: {{ identity }} - {{ super() }}{% endblock %}

{% block data_main %}sf/main/IdentityMain{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript">
    StrikeFinder = window.StrikeFinder || {};
    {% if rowitem_uuid %}
        StrikeFinder.rowitem_uuid = "{{ rowitem_uuid }}";
    {% elif identity %}
        StrikeFinder.identity = "{{ identity }}";
    {% endif %}
</script>
{% endblock %}

{% block content %}
<div class="container">
    {% include "sf/hits-template.html" %}
</div>
{% endblock %}