{% extends "/sf/base.html" %}

{% block title %}Hit Review - {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

<style>
    /* Override the default dialog position so that it is not in front of the file/info view. */
    /*#suppression-form {*/
        /*margin-left: 63%;*/
        /*outline: none;*/
        /*width: 550px;*/
    /*}*/
</style>

<script text="text/javascript">

    {% if rowitem_uuid %}
        StrikeFinder.rowitem_uuid = "{{ rowitem_uuid }}";
    {% endif %}

    $(document).ready(function () {
        var hits_view = new StrikeFinder.HitsView();
        if (StrikeFinder.rowitem_uuid) {
            hits_view.fetch({
                rowitem_uuid: StrikeFinder.rowitem_uuid
            });
        }
        else {
            hits_view.fetch();
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    {% include "sf/hits-template.html" %}
</div>
{% endblock %}
