{% extends "/sf/base.html" %}

{% block title %}Hit Review - {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

    {% include "/sf/templates.html" %}

<style>
    /* Override the default dialog position so that it is not in front of the file/info view. */
    .modal, .modal.fade.in {
        top: 20%;
        left: 30%;
    }
</style>

<script text="text/javascript">
    StrikeFinder.tags = {{ tags }};
    StrikeFinder.usersettings = {{ usersettings }};

    $(document).ready(function () {
        var hits_view = new StrikeFinder.HitsView();
        hits_view.fetch({
            checkout: false
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% include "sf/hits_template.html" %}
</div>
{% endblock %}
