{% extends "sf/sf.html" %}

{% block title %}View by Tag - {{ super() }}{% endblock %}

{% block data_main %}sf/main/HitsByTagMain{% endblock %}

{% block head %}
{{ super() }}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="hits-by-tag-region"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="hits-region"></div>
        </div>
    </div>
</div>
{% endblock %}

