{% extends "sf/base.html" %}

{% block title %}Host - {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript">
        StrikeFinder.host = {{ host | safe }};

        $(document).ready(function () {
            (function () {
                // Create an app instance.
                var hosts_app = new StrikeFinder.HostsApp({
                    el: $(document.body)
                });
            })();
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="host-div"></div>
        </div>
    </div>

    {% include "sf/hits-template.html" %}
</div>

<br/>
{% endblock %}