{% extends "/sf/sf.html" %}

{% block title %}Host - {{ super() }}{% endblock %}

{% block data_main %}sf/main/HostsMain{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript">
        StrikeFinder = window.StrikeFinder || {};
        StrikeFinder.host = {{ host | safe }};
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="host-div"></div>
            <div id="agent-tasks-div"></div>
        </div>
    </div>

    {% include "sf/hits-template.html" %}
</div>

<br/>
{% endblock %}