{% extends "/base.html" %}

{% block title %}StrikeFinder - {{ super() }}{% endblock %}

{% block form_menu %}
    <input id="host-typeahead" type="text" placeholder="Search for Host or MD5"/>
{% endblock %}

{% block head %}
    {{ super() }}

    <!--<link href="/static/css/jquery.iocViewer.css" rel="stylesheet"/>-->

    <script type="text/javascript">
        require(['jquery', 'bootstrap', 'backbone', 'uac/views/MixedTypeAheadView'],
                function($, bs, Backbone, MixedTypeAheadView) {
            // Load common StrikeFinder views.
            $(function() {
                new MixedTypeAheadView({
                    el: '#host-typeahead'
                });
            });
        });
    </script>
{% endblock %}
