{% extends "/base.html" %}

{% block title %}StrikeFinder - {{ super() }}{% endblock %}

{% block form_menu %}
    <input id="host-typeahead" type="text" placeholder="Search for Host or IP"/>
{% endblock %}

{% block head %}
    {{ super() }}
    <link href="/static/css/jquery.iocViewer.css" rel="stylesheet"/>
{% endblock %}

{% block tail %}
{{ super() }}

<div id="context-menu-div" style="display: none">
</div>

<div id="dialog-div">
</div>

<script type="text/javascript">

</script>
{% endblock %}
