{% extends "/base.html" %}

{% block title %}StrikeFinder - {{ super() }}{% endblock %}

{% block form_menu %}
    <input id="host-typeahead" type="text" placeholder="Search for Host or IP"/>
{% endblock %}

{% block head %}
    {{ super() }}

    <!--<link href="/static/client/css/jquery.iocViewer.css" rel="stylesheet"/>-->

    <script type="text/javascript">
        require(['jquery', 'bootstrap', 'backbone', 'sf/views/HostTypeAheadView'],
                function($, bs, Backbone, HostTypeAheadView) {
            // Load common StrikeFinder views.
            $(function() {
                new HostTypeAheadView({
                    el: '#host-typeahead'
                });
            });
        });
    </script>
{% endblock %}

{% block tail %}
    {{ super() }}

    <div id="context-menu-div" style="display: none">
    </div>

    <div id="dialog-div">
    </div>
{% endblock %}
