{% extends "sf/base.html" %}

{% block title %}IOC Shopping - {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

    <style>
        /* Override the default dialog position so that it is not in front of the file/info view. */
        .modal, .modal.fade.in {
            top: 20%;
            left: 30%;
        }
    </style>

    <script type="text/javascript">
        StrikeFinder.services = {{ services }};
        StrikeFinder.clusters = {{ clusters }};
        StrikeFinder.usersettings = {{ usersettings }};
        StrikeFinder.tags = {{ tags }};

        $(document).ready(function () {
            (function () {
                var shopping_view = new StrikeFinder.ShoppingView({
                    el: '#shopping-div',
                    standalone: false
                });
                shopping_view.render();
            })();
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">

    <a id="top"></a>

    <div class="row">
        <div class="col-md-12">
            <div id="shopping-div">

                <!-- Selection Input Form -->
                <div class="row">
                    <div class="col-md-5" style="margin-left: 1%">
                        <label>MCIRT Services</label>
                        <select id="services-select"
                                multiple="true"
                                placeholder="Select MCIRT Services">
                        </select>
                    </div>
                    <div class="col-md-offset-1 col-md-2">
                        <label>
                            <i class='fa fa-power-off'></i> Check Out On Select
                        </label><br/>

                        <div id="checkout-switch"
                             class="switch"
                             data-on="primary"
                             data-on-label="ON"
                             data-off="muted"
                             data-off-label="OFF">
                            <input id="checkout" type="checkbox" checked="checked"/>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 1%; margin-bottom: 1%">
                    <div class="col-md-5" style="margin-left: 1%">
                        <label>Clusters</label>
                        <select id="clusters-select"
                                multiple="true"
                                placeholder="Select Clusters">
                        </select>
                    </div>
                </div>

                <!-- Selection Results -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- Column 1, IOC Summary -->
                        <div id="ioc-summary-div">
                            <h4>
                                <i class="fa fa-list"></i> IOC Summary
                            </h4>
                            <hr style="margin-top: 5px"/>

                            <table id="ioc-summary-table"
                                   class="table table-striped table-bordered table-hover table-condensed">
                            </table>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Column2, IOC Details -->
                        <div id="ioc-details-div">
                        </div>
                    </div>
                </div>
            </div>
            <!-- End shopping-div -->

        </div>
    </div>

    <!-- Hits Display Area -->
    <div id="hits-view-div" style="display: none">
        {% include "sf/hits-template.html" %}
    </div>

</div><!-- End container -->
{% endblock %}
