{% extends "sf/base.html" %}

{% block title %}IOC Shopping - {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript">
        StrikeFinder.services = {{ services | safe }};
        StrikeFinder.clusters = {{ clusters | safe }};

        $(document).ready(function () {
            (function () {
                var shopping_view = new StrikeFinder.ShoppingView({
                    el: '#shopping-div',
                    standalone: false
                });
                shopping_view.render();
            })();
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">

    <a id="top"></a>

    <div class="row">
        <div class="col-md-12">
            <div id="shopping-div">

                <!-- Selection Input Form -->
                <div class="row">
                    <div class="col-md-5" style="margin-left: 1%">
                        <label>MCIRT Services</label>
                        <select id="services-select"
                                multiple="true"
                                placeholder="Select MCIRT Services">
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 1%; margin-bottom: 1%">
                    <div class="col-md-5" style="margin-left: 1%">
                        <label>Clusters</label>
                        <select id="clusters-select"
                                multiple="true"
                                placeholder="Select Clusters">
                        </select>
                    </div>
                </div>

                <!-- Selection Results -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- Column 1, IOC Summary -->
                        <div id="ioc-summary-div">
                            <h4>
                                <i class="fa fa-list"></i> IOC Summary
                            </h4>
                            <hr style="margin-top: 5px"/>

                            <table id="ioc-summary-table"
                                   class="table table-striped table-bordered table-hover table-condensed">
                                <tr>
                                    <td style="height: 600px">

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Column2, IOC Details -->
                        <div id="ioc-details-div">
                            <div style="height: 600px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End shopping-div -->

        </div>
    </div>

    <!-- Hits Display Area -->
    <div id="hits-view-div" style="display: none">
        {% include "sf/hits-template.html" %}
    </div>

</div><!-- End container -->
{% endblock %}
