{% extends "sf/base.html" %}

{% block title %}Suppressions - {{ super() }}{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript">
    StrikeFinder.single_entity = {{ single_entity }};
    StrikeFinder.tags = {{ tags }};
    StrikeFinder.suppressions = {{ suppressions }};

    $(document).ready(function () {
        (function () {
            new StrikeFinder.SuppressionsAppView();
        })();
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id='suppressions-div'>
                <table id="suppressions-table"
                       class="table table-striped table-bordered table-hover table-condensed">
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="com-sm-12">
            <hr/>
        </div>
    </div>

    {% include "sf/hits-template.html" %}

</div>
{% endblock %}
