{% extends "sf/sf.html" %}

{% block title %}Suppressions - {{ super() }}{% endblock %}

{% block data_main %}sf/main/SuppressionsMain{% endblock %}

{% block head %}
    {{ super() }}

    <script type="text/javascript">
        StrikeFinder = window.StrikeFinder || {};
        {% if single_entity %}
            StrikeFinder.single_entity = {{ single_entity | safe }};
        {% endif %}
        {% if suppressions %}
            StrikeFinder.suppressions = {{ suppressions | safe }};
        {% endif %}
    </script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="suppressions-region"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="hits-region"></div>
        </div>
    </div>
</div>
{% endblock %}

