{% extends "sf/sf.html" %}

{% block title %}Tasks - {{ super() }}{% endblock %}

{% block data_main %}sf/main/TasksMain{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript">
    StrikeFinder = window.StrikeFinder || {};
    StrikeFinder.tasks = {{ tasks | safe }};
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id='tasks-div'>
                <table id="tasks-table"
                       class="table table-striped table-bordered table-hover table-condensed">
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
