<!-- StrikeFinder View Templates -->

<script type="text/template" id="ioc-details-template">
    <div class="uac-header">
        <i class="fa fa-list"></i> <span class="uac-header"><%= legend %></span>
    </div>

    <hr style="margin-top: 5px"/>

    <% _.each( items, function( item, index ) { %>

    <h4><%= item.iocuuid %></h4>

    <table id="uuid-<%= index %>-table"
           class="table table-striped table-bordered table-hover table-condensed"
           style="margin-bottom: 15px">
    </table>
    <% }) %>
</script>

<script type="text/template" id="ioc-tabs-template">
    <ul class="nav nav-tabs" id="ioc-tabs" style="margin-bottom: 0px">
        <% _.each( items, function( item, index ) { %>
        <li>
            <a name="<%= item.exp_key %>" href="#ioc-tab-<%= index %>" data-toggle="tab">
                <span style="font-weight: bold"><%= item.name %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <div class="tab-content">
        <% _.each( items, function( item, index ) { %>
        <div id="ioc-tab-<%= index %>"
             class="tab-pane fade <%= get_active_class(index) %> panel panel-default">

            <pre>
                <%- item.content %>
            </pre>

            <div id="suppressions-table-div" style="margin: 10px">
                <!-- Suppressions View Template -->
                <table id="<%= item.exp_key %>"
                       class="table table-striped table-bordered table-condensed suppressions-table">
                </table>
            </div>
        </div>
        <% }) %>
    </div>
</script>

<script type="text/template" id="audit-context-menu-template">
    <ul class="dropdown-menu" role="menu" style="display: block">
        <% if (is_suppress) { %>
        <li>
            <a id="suppress-item" tabindex="-1">
                <icon class="fa fa-level-down"></icon>
                Suppress...
            </a>
        </li>
        <li>
            <a id="auto-suppress-item" style="display: none" tabindex="-1">
                <icon class="fa fa-level-down"></icon>
                Auto-Suppress <span id="ioc-term-item"/>
            </a>
        </li>
        <% } %>
        <% if (is_acquire) { %>
        <li>
            <a id="acquire-item" tabindex="-1">
                <icon class="fa fa-cloud-download"></icon>
                Acquire...
            </a>
        </li>
        <% } %>
        <% if (is_masstag) { %>
        <li>
            <a id="tag-item" tabindex="-1">
                <icon class="fa fa-tags"></icon>
                Mass Tag...
            </a>
        </li>
        <% } %>
        <li class="divider"></li>
        <li>
            <a id="close-item" tabindex="-1">
                <icon class="fa fa-times-circle"></icon>
                Close
            </a>
        </li>
    </ul>
</script>

<script type="text/template" id="suppression-form-template">
    <div id="suppression-form" class="modal fade" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><icon class="fa fa-level-down"></icon> Create Suppression</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Suppression Name:</label>
                            <input id="comment"
                                   type="text"
                                   required="true"
                                   value="<%= itemvalue %>"
                                   class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label>IOC:</label>
                            <select id="exp_key" required="true" class="form-control">
                                <% _.each( iocs, function( ioc, index ) { %>
                                <% if (exp_key == ioc.exp_key) { %>
                                <option id="<%= ioc.exp_key %>" selected><%= ioc.name %> - <%= ioc.uuid %></option>
                                <% } else { %>
                                <option id="<%= ioc.exp_key %>"><%= ioc.name %> - <%= ioc.uuid %></option>
                                <% } %>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Term:</label>
                            <select id="itemkey" required="true" class="form-control">
                                <option></option>
                                <% _.each( terms, function( item, index ) { %>
                                <% if (itemkey == item.text) { %>
                                <option id="<%= item.text %>" selected><%= item.title %></option>
                                <% } else { %>
                                <option id="<%= item.text %>"><%= item.title %></option>
                                <% } %>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Condition:</label>
                            <select id="condition" required="true" class="form-control">
                                <option selected="true">contains</option>
                                <option>ends-with</option>
                                <option>greater-than</option>
                                <option>is</option>
                                <option>less-than</option>
                                <option>matches</option>
                                <option>starts-with</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>
                                <icon class="fa fa-file"></icon>
                                Suppression Text
                            </label>
                            <input id="itemvalue"
                                   type="text"
                                   value="<%= itemvalue %>"
                                   required="true"
                                    class="form-control">
                        </div>

                        <div class="checkbox" style="margin-top: 15px">
                            <label>
                                <input id="preservecase" type="checkbox" value=""/> Preserve Case
                            </label>
                        </div>

                        <div class="checkbox" style="margin-top: 15px">
                            <label>
                                <input id="global" type="checkbox" checked="true"/> Global
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="cancel" class="btn" data-dismiss="modal">
                        <icon class="fa fa-times-circle"></icon>
                        Cancel
                    </button>
                    <button id="suppress" class="btn btn-primary">
                        <icon class="fa fa-level-down"></icon>
                        Suppress
                    </button>
                </div>

            </div>
        </div>
    </div>
</script>

<script type="text/template" id="mass-tag-form-template">
    <div id="mass-tag-form" class="modal fade" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>
                        <icon class="fa fa-tags"></icon>
                        Mass Tag
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Tag</label>
                            <select id="tagname" required="true" class="form-control" style="width: 300px">
                                <option></option>
                                <% _.each( tags, function( item, index ) { %>
                                <option id="<%= item.name %>" title="<%= item.description %>"><%= item.name %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Scope</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="scope" id="cluster_uuid_option" value="cluster" checked> This Cluster
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="scope" id="am_cert_hash_option" value="agent"> This Agent
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>IOC</label>
                            <select id="exp_key" required="" class="form-control">
                                <% _.each( iocs, function( ioc, index ) { %>
                                <% if (exp_key == ioc.exp_key) { %>
                                <option id="<%= ioc.exp_key %>" selected><%= ioc.name %> - <%= ioc.uuid %></option>
                                <% } else { %>
                                <option id="<%= ioc.exp_key %>"><%= ioc.name %> - <%= ioc.uuid %></option>
                                <% } %>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Term</label>
                            <select id="itemkey" required="" class="form-control">
                                <option></option>
                                <% _.each( terms, function( item, index ) { %>
                                <% if (itemkey == item.text) { %>
                                <option id="<%= item.text %>" selected><%= item.title %></option>
                                <% } else { %>
                                <option id="<%= item.text %>"><%= item.title %></option>
                                <% } %>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Condition</label>
                            <select id="condition" required="true" class="form-control" style="width: 300px">
                                <option selected="true">contains</option>
                                <option>ends-with</option>
                                <option>greater-than</option>
                                <option>is</option>
                                <option>less-than</option>
                                <option>matches</option>
                                <option>starts-with</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>
                                Value to Match
                            </label>
                            <input id="itemvalue"
                                   type="text"
                                   value="<%= itemvalue %>"
                                   required="true"
                                   class="form-control">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="preservecase" type="checkbox" value=""/> Preserve Case
                            </label>
                        </div>

                        <div class="form-group">
                            <label>Comment</label>
                            <textarea id="comment" style="height: 50px" class="form-control"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button id="cancel" class="btn">
                        <icon class="fa fa-times-circle"></icon>
                        Cancel
                    </button>
                    <button id="tag" class="btn btn-primary">
                        <icon class="fa fa-tags"></icon>
                        Add Tags
                    </button>
                </div>

            </div>
        </div>
    </div>
</script>

<script type="text/template" id="acquire-form-template">
    <div id="acquire-form" class="modal fade" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>
                        <icon class="fa fa-cloud-download"></icon> Acquire File
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>
                                <icon class="fa fa-file"></icon> File Path
                            </label>
                            <input id="file_path"
                                   type="text"
                                   value="<%= file_path %>"
                                   required="true"
                                   class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>
                                <icon class="fa fa-file"></icon>
                                File Name
                            </label>
                            <input id="file_name"
                                   type="text"
                                   value="<%= file_name %>"
                                   required="true"
                                   class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label>Method:</label>
                            <select id="method" required="true" class="form-control" style="width: 200px">
                                <option selected="true">raw</option>
                                <option>api</option>
                            </select>
                        </div>

                        <div class="checkbox">
                            <label style="margin-top: 15px">
                                <input id="force" type="checkbox" value=""/> Force
                            </label>
                        </div>

                        <div class="form-group">
                            <label>Comment:</label>
                            <textarea id="comment" style="height: 50px" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label>MCIC User for Cluster - <%= cluster_name %>:</label>
                            <input id="user" type="text" required="true" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label>MCIC Password:</label>
                            <input id="password" type="password" required="true" class="form-control"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="cancel" class="btn">
                        <icon class="fa fa-times-circle" data-dismiss="modal"></icon>
                        Cancel
                    </button>
                    <button id="acquire" class="btn btn-primary">
                        <icon class="fa fa-cloud-download"></icon>
                        Acquire
                    </button>
                </div>
            </div>
        <div>
    </div>
</script>

<script type="text/template" id="agent-host-template">
    <div class="row" style="margin-bottom: 3px">
        <div class="col-md-12" margin-right: 0px; padding-right: 0px">
            <span style="font-size: 16px; font-weight: bold">
                <%= cluster.engagement.client.name %> (<%= cluster.name %>) : <%= domain %> /
                <a href="/sf/host/<%= hash %>/"><%= hostname %></a>
            </span>
        </div>
    </div>
    <div class="row" style="margin-bottom: 3px">
        <div class="col-sm-6"">
            <%= product_name %> <%= os_patch_level %>
        </div>
        <div class="col-sm-3">
            <a href="/sf/host/<%= hash %>/"><%= ip %></a>
        </div>
        <div class="col-sm-">
            <%= version %>
        </div>
    </div>
    <div class="row">
            <div class="col-sm-2">
                NotReviewed
            </div>
            <div class="col-sm-2">
                <span class="badge"><%= counts.notreviewed %></span>
            </div>
            <div class="col-sm-2">
                Investigating
            </div>
            <div class="col-sm-2">
                <span class="badge"><%= counts.investigating %></span>
            </div>
            <div class="col-sm-2">
                Escalate
            </div>
            <div class="col-sm-2">
                <span class="badge"><%= counts.escalate %></span>
            </div>
    </div>
    <div class="row">
            <div class="col-sm-2">
                NotReported
            </div>
            <div class="col-sm-2">
                <span class="badge"><%= counts.unreported %></span>
            </div>
            <div class="col-sm-2">
                Reported
            </div>
            <div class="col-sm-2">
                <span class="badge"><%= counts.reported %></span>
            </div>
            <div class="col-sm-2">
                Delete
            </div>
            <div class="col-sm-2">
                <span class="badge"><%= counts.delete %></span>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="agent-host-empty-template">
    <h4 class="text-warning">No data found in Seasick.</h4>
    <%= am_cert_hash %>
</script>

<script type="text/template" id="agent-host-error-template">
    <h4 class="text-warning">Error obtaining host data, check Seasick status.</h4>
    <code><%= am_cert_hash %></code>
</script>

<script type="text/template" id="command-view-template">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="<%= icon_class %>"></i> <%= title %>: <%= selected %> <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <% _.each( options, function( item, index ) { %>
        <li>
            <a name="<%= item.name %>" title="<%= get_description(item) %>"><%= item.name %></a>
        </li>
        <% }) %>
    </ul>
</script>

<script type="text/template" id='drop-down-template'>
    <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle"
           data-toggle="dropdown">
            <i class="<%= icon %>"></i> <%= title %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
            <% _.each( options, function( item, index ) { %>
            <li>
                <a name="<%= item.name %>" title="<%= get_description(item) %>"><%= item.name %></a>
            </li>
            <% }) %>
        </ul>
    </div>
</script>

<script type="text/template" id="prev-next-template">
    <div class="row">
        <div class="col-md-12">
            <a title="previous"
               class="btn btn-link prev"
               style="text-decoration: none; padding: 10px 0px 3px 0px; border: none">
                <i class="fa fa-arrow-up fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a title="next"
               class="btn btn-link next"
               style="text-decoration: none; padding: 3px 0px 3px 0px; border: none">
                <i class="fa fa-arrow-down fa-2x"></i>
            </a>
        </div>
    </div>
</script>

<script type="text/template" id="host-template">
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-6">
            <%= cluster.engagement.client.name %> (<%= cluster.name %>) : <%= domain %> / <%= hostname %>
        </div>
        <div class="col-md-2">
            <%= time_formatted %>
        </div>
        <div class="col-md-1">
            <span class="label label-<%= time_label %>"><%= time_caption %></span>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-2">
            <span style="font-family: courier"><%= ip %></span>
        </div>
        <div class="col-md-3">
            <%= product_name %> <%= os_patch_level %>
        </div>
        <div class="col-md-1">
            <%= version %>
        </div>
        <div class="col-md-2">
            <%= cluster.engagement.number %>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2">
                    NotReviewed <span class="badge"><%= counts.notreviewed %></span>
                </div>
                <div class="col-md-2">
                    Investigating <span class="badge"><%= counts.investigating %></span>
                </div>
                <div class="col-md-2">
                    Escalate <span class="badge"><%= counts.escalate %></span>
                </div>
                <div class="col-md-2">
                    NotReported <span class="badge"><%= counts.unreported %></span>
                </div>
                <div class="col-md-2">
                    Reported <span class="badge"><%= counts.reported %></span>
                </div>
                <div class="col-md-2">
                    Delete <span class="badge"><%= counts.delete %></span>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="host-condensed-template">
    <div class="container" style="width: 500px; font-size: 95%; border: 1px solid #cccccc">
        <div class="row">
            <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
                <span style="font-weight: bold">
                    <%= cluster.engagement.client.name %> (<%= cluster.name %>) : <%= domain %> / <%= hostname %>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
                <div class="row">
                    <div class="col-sm-6">
                        <%= time_formatted %>
                    </div>
                    <div class="col-sm-5">
                        <span class="label label-<%= time_label %> pull-right"><%= time_caption %></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
                <div class="row">
                    <div class="col-sm-8">
                        <%= product_name %> <%= os_patch_level %>
                    </div>
                    <div class="col-sm-4">
                        <%= ip %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
                <div class="row">
                    <div class="col-sm-6">
                        <%= cluster.engagement.number %>
                    </div>
                    <div class="col-sm-6">
                        <%= version %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
                <div class="row">
                    <div class="col-sm-4">
                        NotReviewed <span class="badge pull-right"><%= counts.notreviewed %></span>
                    </div>
                    <div class="col-sm-4">
                        Investigating <span class="badge pull-right"><%= counts.investigating %></span>
                    </div>
                    <div class="col-sm-4">
                        Escalate <span class="badge pull-right"><%= counts.escalate %></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="padding: 3px 15px 3px 15px">
                <div class="row">
                    <div class="col-sm-4">
                        Unreported <span class="badge pull-right"><%= counts.unreported %></span>
                    </div>
                    <div class="col-sm-4">
                        Reported: <span class="badge pull-right"><%= counts.reported %></span>
                    </div>
                    <div class="col-sm-4">
                        Delete: <span class="badge pull-right"><%= counts.delete %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="loading-template" type="text/template">
    <table class="" style="width: <%= width %>%; height: <%= height %>">
        <tr>
            <td style="text-align: center; vertical-align: middle">
                <img src="/static/img/ajax-loader.gif">
            </td>
        </tr>
    </table>
</script>

<script id="acquisition-audit-template" type="text/template">
    <div id="acqusition-audit-div" class="modal fade" style="overflow: auto" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>
                        <icon class="fa fa-tags"></icon> FileItem
                    </h4>
                </div>
                <div class="modal-body" style="max-height: 600px; overflow: auto">
                    <%= content %>
                </div>
                <div class="modal-footer">
                    <button id="close" type="button" class="btn btn-default" data-dismiss="modal">
                        <icon class="fa fa-times-circle"></icon> Close
                    </button>
                </div>

            </div><!-- End model-content -->
        </div><!-- End modal-dialog -->
    </div>
</script>

<script id="hits-facets-template" type="text/template">

    <% _.each( keys, function( facet, index ) { %>
    <div class="row" style="margin-bottom: 5px">

        <div class="col-md-12">
            <!-- A div to represent the collapsable facet content. -->
            <div id="<%= facet %>-div" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#<%= facet %>-div" href="#collapse-<%= facet %>">
                                <i class="fa <%= get_facet_icon(facet) %>"></i>
                                <%= get_facet_title(facet) %>
                                <span class="badge pull-right"><%= get_facet_count(facet) %></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-<%= facet %>" class="panel-collapse collapse <%= get_visibility(facet) ? 'in' : '' %>">
                        <div class="panel-body" style="max-height: 250px; padding: 10px; overflow: auto">
                                <ul class="list-group" style="margin-bottom: 0px">
                                <% _.each( get_facet_values(facet), function(value, index) { %>
                                <li class="list-group-item" style="margin-bottom: 1px">
                                    <a name="<%= value.id %>"
                                       title="<%= value.value %>"
                                       data-facet-type="<%= facet %>"
                                       data-facet-id="<%= value.id %>"
                                       data-facet-value="<%= value.value %>">
                                        <%= value.abbrev ? value.abbrev : value.value %>
                                        <span class="badge pull-right"><%= value.count %></span>
                                    </a>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <% }); %>

    <div class="row">
        <div class="col-sm-12" style="padding-right: 5px">
            <button id="reset-facets"
                    type="button"
                    class="btn btn-default form-control">
                <i class="fa fa-undo"></i> Reset
            </button>
        </div>
    </div>

</script>
