{#
    Base UAC Bootstrap HTML template.
#}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Mandiant{% endblock %}</title>

    <meta charset="utf-8"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="author" content="{% block author %}{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta name="csrf-token" content="{{ csrf_token }}">

    <link rel="shortcut icon" href="/static/img/mandiant.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {# RequireJS configuration #}
    <script src="/static/config.js"></script>

    {# Core UAC styles and overrides. #}
    <link href="/static/css/base.css" rel="stylesheet"/>

    {# Include the appropriate bootstrap theme. #}
    {% if current_theme == 'default' %}
        <link id="bootstrap" href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    {% else %}
        <link id="bootstrap" href="/static/lib/bootswatch/{{ current_theme }}/bootstrap.min.css" rel="stylesheet"/>
    {% endif %}

    {# Font Awesome #}
    <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>

    {# Select2 #}
    <link href="/static/lib/select2/select2.css" rel="stylesheet"/>

    {# Bootstrap Typeahead #}
    <link href="/static/css/typeahead.js-bootstrap.css" rel="stylesheet"/>

    {# Bootstrap Datatables #}
    <link href="/static/lib/datatables/jquery.dataTables.css" rel="stylesheet"/>
    <link href="/static/css/datatables.css" rel="stylesheet"/>

    <!-- Include require.js support. -->
    <script src="/static/lib/requirejs/require.js" data-main="{% block data_main %}{% endblock %}"></script>

    <script type="text/javascript">
        require(['jquery', 'bootstrap', 'backbone', 'uac/views/ThemeView'],
                function($, bs, Backbone, ThemeView) {
            $(function() {
                // Load common UAC views.
                new ThemeView({ el: '#uac-user-nav' });
            });
        });
    </script>

    {% block head %}{% endblock %}
</head>

<body>
{% block body %}
<div id="wrap">
    {% block nav %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container" style="width: 100%">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img style="width: auto; height: 18px; vertical-align: top; border: solid 1px"
                         src="/static/img/mandiant-bw.ico"> UAC
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/alerts"><i class="fa fa-eye"></i> APT Alerts</a></li>
                    <!--<li><a href="/nt/"><i class="fa fa-cloud"></i> Network</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bolt"></i> StrikeFinder <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/sf/hits/"><i class="fa fa-list"></i> Hit Review</a></li>
                            <li><a href="/sf/suppressions/"><i class="fa fa-level-down"></i> Suppressions</a></li>
                            <li><a href="/sf/hits_by_tag/"><i class="fa fa-tags"></i> Hits by Tag</a></li>
                            <li><a href="/sf/acquisitions/"><i class="fa fa-cloud-download"></i> Acquisitions</a></li>
                            <li><a href="/sf/tasks/"><i class="fa fa-tasks"></i> Tasks</a></li>
                        </ul>
                    </li>
                    {% block nav_menu %}
                    {% endblock %}
                </ul>

                <form class="navbar-form navbar-left">
                    {% block form_menu %}
                    {% endblock %}
                </form>

                {% if uid %}
                <ul id="uac-user-nav" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> {{ uid }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ settings.sso.login_url }}" target="_blank">
                                    <i class="icon-fixed-width fa fa-cogs"></i> SSO Settings
                                </a>
                            </li>
                            <li class="divider"></li>
                            {% for theme in themes %}
                            <li class="{% if theme.id == current_theme %}disabled{% endif %}">
                                <a class="uac-theme" data-uac-theme="{{ theme.id }}">
                                    <i class="fa fa-picture-o"></i> {{ theme.name }} Theme
                                </a>
                            </li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li>
                                <a href="/logout/">
                                    <i class="fa fa-sign-out"></i> Sign Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block tail %}

    {% endblock %}
</div>

<div id="footer">
    {% block footer %}
    <div class="container">
        <p class="text-muted credit">
            &copy; 2013 Mandiant Corporation. All rights reserved.
            <span class="pull-right">Version: {{ settings.uac.version }}</span>
        </p>
    </div>
    {% endblock %}
</div>

{# Hidden elements used to compute styles. #}
<div id="uac-style-div" style="display: none">
    <button id="uac-btn-primary" class="btn btn-primary"></button>
    <div id="uac-well-element" class="well"></div>
</div>

{% endblock %}

</body>
</html>
