/**
 * Bootstrap Sticky Footer Styles
 */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    /*background-color: #f5f5f5;*/
}

/**
 * Additional overall page customizations.
 */

#wrap > .container {
    width: 100%;
    padding: 0px 15px 20px 15px;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    width: 95%;
}

table {
    background-color: inherit;
}

.panel {
    background-color: inherit;
}


/**
 * DataTables Customizations.
 */

.datatables-wrapper > select {

}


/* UAC Styles */

.uac-header {
    font-size: 16px;
    /*color: #006dcc;*/
    /*color: #000000;*/
}

.uac-sub-header {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.sf-table-wrapper {
    width: 100%;
    overflow: auto;
}

.small-font {
    font-size: 90%;
}

.sf-audit-heading {
    width: 150px
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    word-break: break-all;
    overflow: hidden;
    min-width: 75px;
}

.truncate_100 {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ioc-term {
    word-break: break-all !important;
}

.uac-opaque {
    opacity: .3
}

.uac-tabledata {
    font-size: 14px;
}

/**
 * Select2 search component styling.
 */
.uac-bigdrop.select2-container .select2-results {
    max-height: 600px;
}

.uac-bigdrop .select2-results {
    max-height: 600px;
}

/*.select2-highlighted {*/
    /*color: #333333 !important;*/
    /*background-color: #f0f0f0 !important;*/
/*}*/

/*.accordion {*/
/*background-color: #fbfbfb;*/
/*}*/

.twitter-typeahead {
    margin-top: 4%;
}

.mandiant-red {
    background-color: #98354a;
}

.fixed-font {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}