<div class="panel-group" id="accordion-<%= item.name %>">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= item.name %>">
                    <span class="collapsable-title">
                        <% item.title ? print(item.title) : print('&nbsp;') %>
                    </span>
                    <i class="fa collapsable-icon fa-lg pull-right"></i>
                </a>
            </h4>
        </div>
        <div id="collapse-<%= item.name %>" class="panel-collapse collapse <% item.collapsed === true ? print('') : print('in') %>">
            <div class="panel-body">
                <div class="collapsable-content-region"></div>
            </div>
        </div>
    </div>
</div>