{% set i = content.dnsentryitem %}

<h4>DNS Information</h4>

<table class="table table-condensed">
    <tr>
        <th style="width: 150px">Host</th>
        <td>{{ i.host }}</td>
    </tr>
    <tr>
        <th style="width: 150px">Record Name</th>
        <td>{{ i.recordname }}</td>
    </tr>
    <tr>
        <th style="width: 150px">Record Type</th>
        <td>{{ i.recordtype }}</td>
    </tr>
    <tr>
        <th style="width: 150px">Time to Live</th>
        <td>{{ i.timetolive }}</td>
    </tr>
    <tr>
        <th style="width: 150px">Flags</th>
        <td>{{ i.flags }}</td>
    </tr>
    <tr>
        <th style="width: 150px">Data Length</th>
        <td>{{ i.datalength }}</td>
    </tr>
</table>

<div class="collapsable collapsed" collapsable-title="Record Data">
    <table class="table table-condensed">

        {% if i.recorddata.host %}
            <tr>
                <th style="width: 150px">Host</th>
                <td >{{ i.recorddata.host }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.ipv4address %}
            <tr>
                <th style="width: 150px">IPv4 Address</th>
                <td >{{ i.recorddata.ipv4address }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.primaryservername %}
            <tr>
                <th style="width: 150px">Primary Server Name</th>
                <td >{{ i.recorddata.primaryservername }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.foo %}
            <tr>
                <th style="width: 150px">foo</th>
                <td >{{ i.recorddata.administratorname }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.administratorname %}
            <tr>
                <th style="width: 150px">Administrator Name</th>
                <td >{{ i.recorddata.serialnumber }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.refresh %}
            <tr>
                <th style="width: 150px">Refresh</th>
                <td >{{ i.recorddata.refresh }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.retry %}
            <tr>
                <th style="width: 150px">Retry</th>
                <td >{{ i.recorddata.retry }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.expire %}
            <tr>
                <th style="width: 150px">Expire</th>
                <td >{{ i.recorddata.expire }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.defaulttimetolive %}
            <tr>
                <th style="width: 150px">Default Time To Live</th>
                <td >{{ i.recorddata.defaulttimetolive }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.mailboxname %}
            <tr>
                <th style="width: 150px">Mailbox Name</th>
                <td >{{ i.recorddata.mailboxname }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.mailboxerrorsname %}
            <tr>
                <th style="width: 150px">Mailbox Errors Name</th>
                <td >{{ i.recorddata.mailboxerrorsname }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.mxhost %}
            <tr>
                <th style="width: 150px">Mx Host</th>
                <td >{{ i.recorddata.mxhost }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.preference %}
            <tr>
                <th style="width: 150px">Preference</th>
                <td >{{ i.recorddata.preference }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.string %}
            <tr>
                <th style="width: 150px">String</th>
                <td >{{ i.recorddata.string }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.blob %}
            <tr>
                <th style="width: 150px">Blob</th>
                <td >{{ i.recorddata.blob }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.bitmask %}
            <tr>
                <th style="width: 150px">Bitmask</th>
                <td >{{ i.recorddata.bitmask }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.ipv6address %}
            <tr>
                <th style="width: 150px">IPv6 Address</th>
                <td >{{ i.recorddata.ipv6address }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.algorithm %}
            <tr>
                <th style="width: 150px">Algorithm</th>
                <td >{{ i.recorddata.algorithm }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.protocol %}
            <tr>
                <th style="width: 150px">Protocol</th>
                <td >{{ i.recorddata.protocol }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.keyflags %}
            <tr>
                <th style="width: 150px">Key Flags</th>
                <td >{{ i.recorddata.keyflags }}</td>
            </tr>
        {% endif %}

        {% if i.RecordData/Signer %}
            <tr>
                <th style="width: 150px">Signer</th>
                <td >{{ i.recorddata.signer }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.typecovered %}
            <tr>
                <th style="width: 150px">Type Covered</th>
                <td >{{ i.recorddata.typecovered }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.labelcount %}
            <tr>
                <th style="width: 150px">Label Count</th>
                <td >{{ i.recorddata.labelcount }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.originaltimetolive %}
            <tr>
                <th>Original Time To Live</th>
                <td >{{ i.recorddata.originaltimetolive }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.expirationdate %}
            <tr>
                <th style="width: 150px">ExpirationDate</th>
                <td >{{ i.recorddata.expirationdate }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.datesigned %}
            <tr>
                <th style="width: 150px">Date Signed</th>
                <td >{{ i.recorddata.datesigned }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.keytag %}
            <tr>
                <th style="width: 150px">Key Tag</th>
                <td >{{ i.recorddata.keytag }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.addresstype %}
            <tr>
                <th style="width: 150px">Address Type</th>
                <td >{{ i.recorddata.addresstype }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.atmaddress %}
            <tr>
                <th style="width: 150px">ATM Address</th>
                <td >{{ i.recorddata.atmaddress }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.nexthost %}
            <tr>
                <th style="width: 150px">Next Host</th>
                <td >{{ i.recorddata.nexthost }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.type %}
            <tr>
                <th style="width: 150px">Type</th>
                <td >{{ i.recorddata.type }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.targethost %}
            <tr>
                <th style="width: 150px">Target Host</th>
                <td >{{ i.recorddata.targethost }}</td>
            </tr>
        {% endif %}

        {% if i.RecordData/Priority %}
            <tr>
                <th style="width: 150px">Priority</th>
                <td >{{ i.recorddata.priority }}</td>
            </tr>
        {% endif %}

        {% if i.RecordData/Weight %}
            <tr>
                <th style="width: 150px">Weight</th>
                <td >{{ i.recorddata.weight }}</td>
            </tr>
        {% endif %}

        {% if i.RecordData/Port %}
            <tr>
                <th style="width: 150px">Port</th>
                <td >{{ i.recorddata.port }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.order %}
            <tr>
                <th style="width: 150px">Order</th>
                <td >{{ i.recorddata.order }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.services %}
            <tr>
                <th style="width: 150px">Services</th>
                <td >{{ i.recorddata.services }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.regularexpression %}
            <tr>
                <th style="width: 150px">Regular Expression</th>
                <td >{{ i.recorddata.regularexpression }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.replacement %}
            <tr>
                <th style="width: 150px">Replacement</th>
                <td >{{ i.recorddata.replacement }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.digesttype %}
            <tr>
                <th style="width: 150px">Digest Type</th>
                <td >{{ i.recorddata.digesttype }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.digestlength %}
            <tr>
                <th style="width: 150px">Digest Length</th>
                <td >{{ i.recorddata.digestlength }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.digest %}
            <tr>
                <th style="width: 150px">Digest</th>
                <td >{{ i.recorddata.digest }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.keylength %}
            <tr>
                <th style="width: 150px">Key Length</th>
                <td >{{ i.recorddata.keylength }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.publickey %}
            <tr>
                <th style="width: 150px">Public Key</th>
                <td >{{ i.recorddata.publickey }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.keyname %}
            <tr>
                <th style="width: 150px">Key Name</th>
                <td >{{ i.recorddata.keyname }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.key %}
            <tr>
                <th style="width: 150px">Key</th>
                <td >{{ i.recorddata.key }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.creationdate %}
            <tr>
                <th style="width: 150px">Creation Date</th>
                <td >{{ i.recorddata.creationdate }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.error %}
            <tr>
                <th style="width: 150px">Error</th>
                <td >{{ i.recorddata.error }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.mode %}
            <tr>
                <th style="width: 150px">Mode</th>
                <td >{{ i.recorddata.mode }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.signaturelength %}
            <tr>
                <th style="width: 150px">Signature Length</th>
                <td >{{ i.recorddata.signaturelength }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.signature %}
            <tr>
                <th style="width: 150px">Signature</th>
                <td >{{ i.recorddata.signature }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.fudgetime %}
            <tr>
                <th style="width: 150px">Fudge Time</th>
                <td >{{ i.recorddata.fudgetime }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.originalxid %}
            <tr>
                <th style="width: 150px">Original Xid</th>
                <td >{{ i.recorddata.originalxid }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.mappingflag %}
            <tr>
                <th style="width: 150px">Mapping Flag</th>
                <td >{{ i.recorddata.mappingflag }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.winsserveripv4address %}
            <tr>
                <th style="width: 150px">Wins Server IPv4 Address</th>
                <td >{{ i.recorddata.winsserveripv4address }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.lookuptimeout %}
            <tr>
                <th style="width: 150px">Lookup Timeout</th>
                <td >{{ i.recorddata.lookuptimeout }}</td>
            </tr>
        {% endif %}

        {% if i.recorddata.cachetimeout %}
            <tr>
                <th style="width: 150px">Cache Timeout</th>
                <td >{{ i.recorddata.cachetimeout }}</td>
            </tr>
        {% endif %}

    </table>
</div>