{% set fileitem = content.fileitem %}
<div id="file-item" class="collapsable-header" title="<i class='icon-file'></i> File/Item">

<div class="xslt-contents" xslt-title="File Item Info">
    <h4>File Item Info</h4>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <th colspan="2" rowspan="1">Full Path</th>
            <th colspan="1" rowspan="1">Device Path</th>
            <th colspan="1" rowspan="1">File Attributes</th>
        </tr>
        <tr>
            <td colspan="2" rowspan="1">
                <span class="ioc-term" ioc-term="FileItem/FullPath">
                    {{ fileitem.fullpath }}
                </span>
            </td>
            <td colspan="1" rowspan="1">
                <span class="ioc-term" ioc-term="FileItem/DevicePath">
                    {{ fileitem.devicepath }}
                </span>
            </td>
            <td colspan="1" rowspan="1">
                <span class="ioc-term" ioc-term="FileItem/FileAttributes">
                    {{ fileitem.fileattributes }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Size</th>
            <th colspan="2" rowspan="1">MD5</th>
            <th>Owner</th>
        </tr>
        <tr>
            <td>
                <span class="ioc-term" ioc-term="FileItem/SizeInBytes">
                    {{ fileitem.sizeinbytes }}
                </span>
            </td>
            <td colspan="2" rowspan="1">
                <span class="ioc-term" ioc-term="FileItem/Md5sum">
                    {{ fileitem.md5sum }}
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/Username">
                    {{ fileitem.username }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <th>Accessed</th>
            <th>Modified</th>
            <th>Changed</th>
        </tr>
        <tr>
            <td>
                <span class="ioc-term" ioc-term="FileItem/Created">
                    {{ fileitem.created }}
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/Accessed">
                    {{ fileitem.accessed }}
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/Modified">
                    {{ fileitem.modified }}
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/Changed">
                    {{ fileitem.changed }}
                </span>
            </td>
        </tr>
        {% if fileitem.filenamecreated %}
        <tr>
            <th>Filename Created</th>
            <th>Filename Accessed</th>
            <th>Filename Modified</th>
            <th>Filename Changed</th>
        </tr>
        <tr>
            <td>
                <span class="ioc-term" ioc-term="FileItem/FilenameCreated">
                    {{ fileitem.filenamecreated }}
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/FilenameAccessed">
                    {{ fileitem.filename.accessed }}
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/FilenameModified">
                    {{ fileitem.filenamemodified }}
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/FilenameChanged">
                    {{ fileitem.filenamechanged }}
                </span>
            </td>
        </tr>
        {% endif %}
    </table>
</div>

{% if fileitem.peinfo %}
    {% set peinfo = fileitem.peinfo %}
<div class="xslt-contents" xslt-title="PE Header Information">
<h4>PE Header Information</h4>
<table class="table table-condensed table-bordered" width="100%">
    <tr>
        <th>PE Type</th>
        <th>Compile Time</th>
        <th>Subsystem</th>
        <th>Base Address</th>
    </tr>
    <tr>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/Type">
                {{ peinfo.type }}
            </span>
        </td>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/PETimeStamp">
                {{ peinfo.petimestamp }}
            </span>
        </td>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/Subsystem">
                {{ peinfo.subsystem }}
            </span>
        </td>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/BaseAddress">
                {{ peinfo.baseaddress }}
            </span>
        </td>
    </tr>
</table>
<table class="table table-condensed table-bordered" width="100%">
    <tr>
        <th>Checksum Raw</th>
        <th>Checksum API</th>
        <th>Checksum Computed</th>
    </tr>
    <tr>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/PEChecksum/PEFileRaw">
                {{ fileitem.pechecksum.pefileraw }}&nbsp;
            </span>
        </td>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/PEChecksum/PEFileAPI">
                {{ peinfo.pechecksum.pefileapi }}&nbsp;
            </span>
        </td>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/PEChecksum/PEComputedAPI">
                {{ peinfo.pechecksum.pecomputedapi }}&nbsp;
            </span>
        </td>
    </tr>
</table>
<table class="table table-condensed table-bordered" width="100%">
    <tr>
        <th>Signature Exists</th>
        <th>Signature Verified</th>
        <th>Signature Description</th>
    </tr>
    <tr>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/DigitalSignature/SignatureExists">
                {{ peinfo.digitalsignature.signatureexists }}&nbsp;
            </span>
        </td>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/DigitalSignature/SignatureVerified">
                {{ peinfo.digatalsignature.signatureverified }}&nbsp;
            </span>
        </td>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/DigitalSignature/Description">
                {{ peinfo.digatalsignature.description }}&nbsp;
            </span>
        </td>
    </tr>
</table>
<table width="100%" class="table table-condensed table-bordered">
    <tr>
        <th>Certificate Issuer</th>
        <th>Certificate Subject</th>
    </tr>
    <tr>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/DigitalSignature/CertificateIssuer">
                {{ peinfo.digitalsignature.certificateissuer }}&nbsp;
            </span>
        </td>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/DigitalSignature/CertificateSubject">
                {{ peinfo.digitalsignature.certificatesubject }}&nbsp;
            </span>
        </td>
    </tr>
</table>
<table width="100%" class="table table-condensed table-bordered">
    <tr>
        <th>Entry Point Signature</th>
        <th>Anomalies</th>
    </tr>
    <tr>
        <td>
            Name:
            <span class="ioc-term" ioc-term="FileItem/PEInfo/DetectedEntryPointSignature/Name">
                {{ peinfo.detectedentrypointsignature.name }}&nbsp;
            </span>
            <br/>
            Type:
            <span class="ioc-term" ioc-term="FileItem/PEInfo/DetectedEntryPointSignature/Type">
                {{ peinfo.detectedentrypointsignature.type }}&nbsp;
            </span>
        </td>
        <td>
            {% for s in get_list(peinfo.detectedanomalies.string) %}
                <span class="ioc-term" ioc-term="FileItem/PEInfo/DetectedAnomalies/string">
                    {{ s }}
                </span><br/>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Peak Entropy</th>
        <th>Peak Code Entropy</th>
    </tr>
    <tr>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PeakEntropy">
                {{ peinfo.peakentropy }}&nbsp;
            </span>
        </td>
        <td>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/PeakCodeEntropy">
                {{ peinfo.peakcodentropy }}&nbsp;
            </span>
        </td>
    </tr>
</table>

<table class="table table-condensed table-bordered">
    <tr>
        <th>Section Name</th>
        <th>Section Type</th>
        <th>Size</th>
        <th>Characteristics</th>
        <th>Entropy</th>
    </tr>
    {% for section in peinfo.sections.section %}
        <tr>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/Sections/Section/Name">
                    {{ section.name }}&nbsp;
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/Sections/Section/Type">
                    {{ section.type }}&nbsp;
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/Sections/Section/SizeInBytes">
                    {{ section.sizeinbytes }}&nbsp;
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/Sections/Section/DetectedCharacteristics">
                    {{ section.detectedcharacteristics }}&nbsp;
                </span>
            </td>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/Sections/Section/Entropy/@AverageValue">
                    {{ section.entropy.$.AverageValue }}&nbsp;
                </span>
            </td>
        </tr>
    {% endfor %}
</table>
<br/>

<div id="exported-functions-div" class="collapsable collapsed" title="Exported Functions">
    <ul>
        {% for s in get_list(peinfo.exports.exportedfunctions.string) %}
            <li>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/Exports/ExportedFunctions/string">{{ s }}</span>
            </li>
        {% endfor %}
    </ul>
</div>


<div id="imported-functions-div" class="collapsable collapsed" title="Imported Functions">
    {% for module in peinfo.importedmodules.module %}
        <li>
            <span class="ioc-term" ioc-term="FileItem/PEInfo/ImportedModules/Name">
                {{ module.name }}
            </span>

            {% if module.importedfunctions.string %}
                <ul>
                    {% for s in get_list(module.importedfunctions.string) %}
                    <li>
                        <span class="ioc-term" ioc-term="FileItem/PEInfo/ImportedModules/Module/ImportedFunctions/string">
                            {{ s }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</div>

{% if peinfo.versioninfolist.versioninfoitem %}
    {% set versioninfoitem = peinfo.versioninfolist.versioninfoitem %}
    <br/>
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Language</th>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/Language">
                    {{ versioninfoitem.language }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Product Name</th>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/ProductName">
                    {{ versioninfoitem.productname }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Product Version</th>
            <td><span class="ioc-term"
                      ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/ProductVersion">
                {{ versioninfoitem.productversion }}
            </span>
        </td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/Comments">
                    {{ versioninfoitem.comments }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Company Name</th>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/CompanyName">
                    {{ versioninfoitem.companyname }}
                </span>
            </td>
        </tr>
        <tr>
            <th>File Description</th>
            <td>
                <span class="ioc-term"
                      ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/FileDescription">
                    {{ versioninfoitem.filedescription }}
                </span>
            </td>
        </tr>
        <tr>
            <th>File Version</th>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/FileVersion">
                    {{ versioninfoitem.fileversion }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Internal Name</th>
            <td>
                <span class="ioc-term" ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/InternalName">
                    {{ versioninfoitem.internalname }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Legal Copyright</th>
            <td>
                <span class="ioc-term"
                      ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/LegalCopyright">
                    {{ versioninfoitem.legalcopyright }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Original Filename</th>
            <td>
                <span class="ioc-term"
                      ioc-term="FileItem/PEInfo/VersionInfoList/VersionInfoItem/OriginalFilename">
                    {{ versioninfoitem.originalfilename }}
                </span>
            </td>
        </tr>
    </table>
{% endif %}
</div>
{% endif %}<!-- end fileitem.peinfo -->

{% if fileitem.stringlist.string %}
    <div class="xslt-contents" xslt-title="Strings">
        <ul>
            <li>
                <div class="outline">
                    {% for s in get_list(fileitem.stringlist.string) %}
                        <span class="ioc-term" ioc-term="FileItem/StringList/string">
                            {{ s }}
                        </span>
                        <br/>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </div>
{% endif %}

{% if fileitem.streamlist.stream %}
    <div class="xslt-contents" xslt-title="Streams">
        <ul>
            <li>
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>MD5</th>
                    </tr>
                    {% for stream in fileitem.streamlist.stream %}
                        <tr>
                            <td>
                                <span class="ioc-term" ioc-term="FileItem/StreamList/Stream/Name">
                                    {{ stream.name }}
                                </span>
                            </td>
                            <td>
                                <span class="ioc-term" ioc-term="FileItem/StreamList/Stream/SizeInBytes">
                                    {{ stream.sizeinbytes }}
                                </span>
                            </td>
                            <td>
                                <span class="ioc-term" ioc-term="FileItem/StreamList/Stream/Md5sum">
                                    {{ stream.md5sum }}
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br/>
            </li>
        </ul>
    </div>
{% endif %}

<div id="portal-formated-data-div" class="collapsable collapsed" title="Portal Formatted Data">
<textarea title="Click to Highlight"
              cols="80"
              rows="10"
              style="width: 95%;"
              onclick="this.select();">
File Name: {{ fileitem.filename }}
MD5 Hash: {{ fileitem.md5sum }}
File Created: {{ fileitem.created }}
Last Accessed: {{ fileitem.accessed }}
Last Modified: {{ fileitem.modified }}
Entry Modified:{{ fileitem.changed }}
File Size: {{ fileitem.sizeinbytes }}
File Path: {% if fileitem.drive %}{{ fileitem.drive }}:\{{ fileitem.filepath }}{% endif %}
File Owner: {{ fileitem.username }}</textarea>
</div>

</div>
