% set i = content.formhistoryitem %}

<h4>Form History Info</h4>

<table class="table table-condensed">
    <tr>
        <th style="min-width: 150px">Browser Name</th>
        <td>{{ i.browsername }}</td>
    </tr>
    <tr>
        <th>Browser Version</th>
        <td>{{ i.browserversion }}</td>
    </tr>
    <tr>
        <th>User Name</th>
        <td>{{ i.username }}</td>
    </tr>
    <tr>
        <th>Profile</th>
        <td>{{ i.profile }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ i.formtype }}</td>
    </tr>
    <tr>
        <th>Field Name</th>
        <td>{{ i.formfieldname }}</td>
    </tr>
    <tr>
        <th>Field Value</th>
        <td>{{ i.formfieldvalue }}</td>
    </tr>
    <tr>
        <th>Username Field Name</th>
        <td>{{ i.usernamefieldname }}</td>
    </tr>
    <tr>
        <th>Password Field Name</th>
        <td>{{ i.passwordfieldname }}</td>
    </tr>
    <tr>
        <th>Host Name</th>
        <td>{{ i.hostname }}</td>
    </tr>
    <tr>
        <th>HTTPS Realm</th>
        <td>{{ i.httprealm }}</td>
    </tr>
    <tr>
        <th>Submit URL</th>
        <td>{{ i.formsubmiturl }}</td>
    </tr>
    <tr>
        <th>Username Field Value</th>
        <td>{{ i.usernamefieldvalue }}</td>
    </tr>
    <tr>
        <th>Password Field Value</th>
        <td>{{ i.encryptedpassword }}</td>
    </tr>
    <tr>
        <th>Encryption Type</th>
        <td>{{ i.encryptiontype }}</td>
    </tr>
    <tr>
        <th>First Used</th>
        <td>{{ i.firstuseddate }}</td>
    </tr>
    <tr>
        <th>Last USed</th>
        <td>{{ i.lastuseddate }}</td>
    </tr>
    <tr>
        <th>Creation Date</th>
        <td>{{ i.creationdate }}</td>
    </tr>
    <tr>
        <th>Number of Times Used</th>
        <td>{{ i.timesused }}</td>
    </tr>
    <tr>
        <th>Encryption Application</th>
        <td>{{ i.profile }}</td>
    </tr>
    <tr>
        <th>Encryption Application GUID</th>
        <td>{{ i.guid }}</td>
    </tr>

</table>