{% set i = content.portitem %}


<h4>Port Info</h4>
<table class="table table-condensed">
    <tr>
        <td><b>Protocol</b></td>
        <td>{{ i.protocol }}</td>
    </tr>
    <tr>
        <td><b>State</b></td>
        <td>{{ i.state }}</td>
    </tr>
    <tr>
        <td><b>Local IP</b></td>
        <td>{{ i.localip }}</td>
    </tr>
    <tr>
        <td><b>Local Port</b></td>
        <td>{{ i.localport }}</td>
    </tr>
    <tr>
        <td><b>Remote IP</b></td>
        <td>{{ i.remoteip }}</td>
    </tr>
    <tr>
        <td><b>Remote Port</b></td>
        <td>{{ i.remoteport }}</td>
    </tr>
    <tr>
        <td><b>PID</b></td>
        <td>{{ i.pid }}</td>
    </tr>
    <tr>
        <td><b>Process</b></td>
        <td>{{ i.process }}</td>
    </tr>
    <tr>
        <td><b>Path</b></td>
        <td>{{ i.path }}</td>
    </tr>
    {% if i.creationtime %}
        <tr>
            <td><b>Creation Time</b></td>
            <td>{{ i.creationtime }}</td>
        </tr>
    {% endif %}
</table>

<div class="collapsable collapsed" collapsable-title="portal Formatted Data">
    <textarea title="click to highlight" style="width:95%; height:102px;" onclick="this.select();">
        Protocol:        {{ i.protocol }}
        State:           {{ i.state }}
        Local IP:        {{ i.localip }}
        Remote IP:       {{ i.remoteip }}
        Process ID:      {{ i.pid }}
        Process Name:    {{ i.process }}
    </textarea>
</div>
