{% set i = content.portitem %}


<h4>Port Info</h4>
<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading"><b>Protocol</b></th>
        <td>{{ i.protocol }}</td>
    </tr>
    <tr>
        <th>State</th>
        <td>{{ i.state }}</td>
    </tr>
    <tr>
        <th>Local IP</th>
        <td>{{ i.localip }}</td>
    </tr>
    <tr>
        <th>Local Port</th>
        <td>{{ i.localport }}</td>
    </tr>
    <tr>
        <th>Remote IP</th>
        <td>{{ i.remoteip }}</td>
    </tr>
    <tr>
        <th>Remote Port</th>
        <td>{{ i.remoteport }}</td>
    </tr>
    <tr>
        <th>PID</th>
        <td>{{ i.pid }}</td>
    </tr>
    <tr>
        <th>Process</th>
        <td>{{ i.process }}</td>
    </tr>
    <tr>
        <th>Path</th>
        <td>{{ i.path }}</td>
    </tr>
    {% if i.creationtime %}
        <tr>
            <th>Creation Time</th>
            <td>{{ i.creationtime }}</td>
        </tr>
    {% endif %}
</table>

<div class="collapsable collapsed" collapsable-title="portal Formatted Data">
    <textarea title="click to highlight" style="width:95%; height:102px;" onclick="this.select();">
Protocol:        {{ i.protocol }}
State:           {{ i.state }}
Local IP:        {{ i.localip }}
Remote IP:       {{ i.remoteip }}
Process ID:      {{ i.pid }}
Process Name:    {{ i.process }}
    </textarea>
</div>
