{% set pi = content.prefetchitem %}

<div id="prefetch-item-div" class="collapsable-header" collapsable-title="<i class='icon-file'></i> Prefetch/Item">

    <table class="table table-condensed">
        <tr>
            <th>Full Path</th>
            <td>{{ pi.fullpath }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ pi.created }}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ pi.sizeinbytes }}</td>
        </tr>
        <tr>
            <th>Reported Size</th>
            <td>{{ pi.reportedsizeinbytes }}</td>
        </tr>
        <tr>
            <th>Prefetch Hash</th>
            <td>{{ pi.prefetchhash }}</td>
        </tr>
        <tr>
            <th>Application File Name</th>
            <td>{{ pi.applicationfilename }}</td>
        </tr>
        <tr>
            <th>Last Run</th>
            <td>{{ pi.lastrun }}</td>
        </tr>
        <tr>
            <th>Times Executed</th>
            <td>{{ pi.timesexecuted }}</td>
        </tr>
        <tr>
            <th>Application Full Path</th>
            <td>{{ pi.applicationfullpath }}</td>
        </tr>
    </table>

    {% if pi.accessedfilelist.accessedfile %}
        <br/>
        <div id="accessed-file-list-div" class="collapsable collapsed" collapsable-title="Accessed File List">
            <table class="table table-condensed">
                {% for file in get_list(pi.accessedfilelist.accessedfile) %}
                    <tr>
                        <td>{{ file }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    {% if pi.volumelist.volumeitem %}
        <div id="volume-list-div" class="collapsable" collapsable-title="Volume List">
            {% for item in get_list(pi.volumelist.volumeitem) %}
                <h5>{{ item.$.uid }}</h5>
                <table class="table table-condensed table-bordered">
                    {% if item.volumename %}
                        <tr>
                            <th>Volume Name</th>
                            <td>{{ item.volumename }}</td>
                        </tr>
                    {% endif %}
                    {% if item.devicepath %}
                        <tr>
                            <th>Device Path</th>
                            <td>{{ item.devicepath }}</td>
                        </tr>
                    {% endif %}
                    {% if item.driveletter %}
                        <tr>
                            <th>Drive Letter</th>
                            <td>{{ item.driveletter }}</td>
                        </tr>
                    {% endif %}
                    {% if item.type %}
                        <tr>
                            <th>Type</th>
                            <td>{{ item.type }}</td>
                        </tr>
                    {% endif %}
                    {% if item.name %}
                        <tr>
                            <th>Name</th>
                            <td>{{ item.name }}</td>
                        </tr>
                    {% endif %}
                    {% if item.serialnumber %}
                        <tr>
                            <th>Serial Number</th>
                            <td>{{ item.serialnumber }}</td>
                        </tr>
                    {% endif %}
                    {% if item.filesystemflags %}
                        <tr>
                            <th>File System Flags</th>
                            <td>{{ item.filesystemflags }}</td>
                        </tr>
                    {% endif %}
                    {% if item.filesystemname %}
                        <tr>
                            <th>File System Name</th>
                            <td>{{ item.filesystemname }}</td>
                        </tr>
                    {% endif %}
                    {% if item.actualavailableallocationunits %}
                        <tr>
                            <th>Actual Available Allocation Units</th>
                            <td>{{ item.actualavailableallocationunits }}</td>
                        </tr>
                    {% endif %}
                    {% if item.totalallocationunits %}
                        <tr>
                            <th>Total Allocation Units</th>
                            <td>{{ item.totalallocationunits }}</td>
                        </tr>
                    {% endif %}
                    {% if item.bytespersector %}
                        <tr>
                            <th>Bytes Per Sector</th>
                            <td>{{ item.bytespersector }}</td>
                        </tr>
                    {% endif %}
                    {% if item.sectorsperallocationunit %}
                        <tr>
                            <th>Sectors Per Allocation Unit</th>
                            <td>{{ item.sectorsperallocationunit }}</td>
                        </tr>
                    {% endif %}
                    {% if item.creationtime %}
                        <tr>
                            <th>Creation Time</th>
                            <td>{{ item.creationtime }}</td>
                        </tr>
                    {% endif %}
                    {% if item.ismounted %}
                        <tr>
                            <th>Is Mounted</th>
                            <td>{{ item.ismounted }}</td>
                        </tr>
                    {% endif %}
                </table>
            {% endfor %}
        </div>
    {% endif %}
</div>
