{% set registryitem = content.registryitem %}

<div id="registry-item-div" class="collapsable-header" title="<i class='icon-file'></i> Registry/Item">

    <h4>Registry Item Info</h4>

    <table class="table table-condensed">
        <tr>
            <td>Modified Time</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/Modified">{{ registryitem.modified }}</span></td>
        </tr>
        <tr>
            <td>Hive</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/Hive">{{ registryitem.hive }}</span></td>
        </tr>
        <tr>
            <td>Path to Key</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/KeyPath">{{ registryitem.keypath }}</span></td>
        </tr>
        <tr>
            <td>Full Path</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/Path">{{ registryitem.path }}</span></td>
        </tr>
        <tr>
            <td>Value Name</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/ValueName">{{ registryitem.valuename }}</span></td>
        </tr>
        <tr>
            <td>Value Type</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/Type">{{ registryitem.type }}</span></td>
        </tr>
        <tr>
            <td>Size in Bytes</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/ReportedLengthInBytes">{{ registryitem.reportedlengthinbytes }}</span></td>
        </tr>

        {% for text in get_list(registryitem.text) %}
        <tr>
            <td>Text</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/Text">{{ text }}</span></td>
        </tr>
        {% endfor %}

        <tr>
            <td>Base 64 Encoded Data</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/Value">{{ registryitem.value }}</span></td>
        </tr>
        <tr>
            <td>Security ID</td>
            <td><span class="ioc-term" ioc-term="RegistryItem/SecurityID">{{ registryitem.securityid }}</span></td>
        </tr>
    </table>

    <br/>

    <div id="portal-formatted-data-div" class="collapsable collapsed" title="Portal Formatted Data">
{% if registryitem.value %}
    {% set registrytext = registryitem.value %}
{% else %}
    {% set registrytext = registryitem.text %}
{% endif %}
<textarea title="Click to Highlight" style="width:95%; height:70px;" onclick="this.select();">
Registry Path:   {{ registryitem.keypath }}
Registry Key:    {{ registryitem.valuename }}
Registry Text:   {{ registrytext }}
Last Modified:   {{ registryitem.modified }}</textarea>
    </div>

</div>
