{% set i = content.registryitem %}

    {% set text_items = get_list(i.text) %}
    {% set text_length = text_items.length %}

    <table class="table table-condensed">
        <tr>
            <th class="sf-audit-heading">Modified Time</th>
            <td><span class="ioc-term" ioc-term="RegistryItem/Modified">{{ i.modified }}</span></td>
        </tr>
        <tr>
            <th>Hive</th>
            <td><span class="ioc-term" ioc-term="RegistryItem/Hive">{{ i.hive }}</span></td>
        </tr>
        <tr>
            <th>Path to Key</th>
            <td><span class="ioc-term" ioc-term="RegistryItem/KeyPath">{{ i.keypath }}</span></td>
        </tr>
        <tr>
            <th>Full Path</th>
            <td><span class="ioc-term" ioc-term="RegistryItem/Path">{{ i.path }}</span></td>
        </tr>
        <tr>
            <th>Value Name</th>
            <td><span class="ioc-term" ioc-term="RegistryItem/ValueName">{{ i.valuename }}</span></td>
        </tr>
        <tr>
            <th>Value Type</th>
            <td><span class="ioc-term" ioc-term="RegistryItem/Type">{{ i.type }}</span></td>
        </tr>
        <tr>
            <th>Size in Bytes</th>
            <td><span class="ioc-term" ioc-term="RegistryItem/ReportedLengthInBytes">{{ i.reportedlengthinbytes }}</span></td>
        </tr>

        <tr>
            <th>Security ID</th>
            <td><span class="ioc-term" ioc-term="RegistryItem/SecurityID">{{ i.securityid }}</span></td>
        </tr>
    </table>

    <div id="base-64-div" class="collapsable collapsed" collapsable-title="Base 64 Encoded Data">
        <div style="max-height: 500px; overflow: auto">
            <span class="ioc-term" ioc-term="RegistryItem/Value">{{ i.value }}</span>
        </div>
    </div>

    <div id="text-div" class="collapsable collapsed" collapsable-title="Text">
        <div style="max-height: 500px; overflow: auto">
            <ul>
                {% for text in text_items %}
                <li>
                    <span class="ioc-term" ioc-term="RegistryItem/Text" style="wrap">{{ text }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="portal-formatted-data-div" class="collapsable collapsed" collapsable-title="Portal Formatted Data">
{% if i.value %}
    {% set registrytext = i.value %}
{% else %}
    {% set registrytext = i.text %}
{% endif %}
        <textarea title="Click to Highlight"
                  style="height:70px;" onclick="this.select();"
                  class="fixed-font form-control">
Registry Path: {{ i.keypath }}
Registry Key:  {{ i.valuename }}
Registry Text: {{ registrytext }}
Last Modified: {{ i.modified }}
        </textarea>
    </div>


