{% set i = content.routeentryitem %}

<h4>Route Info</h4>

<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">Interface</th>
        <td>{{ i.interface }}</td>
    </tr>
    <tr>
        <th>Is IPv6</th>
        <td>{{ i.isipv6 }}</td>
    </tr>
    <tr>
        <th>Destination</th>
        <td>{{ i.destination }}</td>
    </tr>
    <tr>
        <th>Gateway</th>
        <td>{{ i.gateway }}</td>
    </tr>
    <tr>
        <th>Netmask</th>
        <td>{{ i.netmask }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ i.routetype }}</td>
    </tr>
    <tr>
        <th>Protocol</th>
        <td>{{ i.protocol }}</td>
    </tr>
    <tr>
        <th>Valid Lifetime</th>
        <td>{{ i.validlifetime }}</td>
    </tr>
    <tr>
        <th>Preferred Lifetime</th>
        <td>{{ i.preferredlifetime }}</td>
    </tr>
    <tr>
        <th>Route Age</th>
        <td>{{ i.routeage }}</td>
    </tr>
    <tr>
        <th>Metric</th>
        <td>{{ i.metric }}</td>
    </tr>
    <tr>
        <th>Is Loopback</th>
        <td>{{ i.isloopback }}</td>
    </tr>
    <tr>
        <th>Is Autoconfigure Address</th>
        <td>{{ i.isautoconfigureaddress }}</td>
    </tr>
    <tr>
        <th>Is Publish</th>
        <td>{{ i.ispublish }}</td>
    </tr>
    <tr>
        <th>Is Immortal</th>
        <td>{{ i.isimmortal }}</td>
    </tr>
    <tr>
        <th>Origin</th>
        <td>{{ i.origin }}</td>
    </tr>
</table>
