{% set i = content.systeminfoitem %}

<h4>Machine Information</h4>

<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">Machine Name</th>
        <td>{{ i.machine }}</td>
    </tr>
    <tr>
        <th>Host Name</th>
        <td>{{ i.hostname }}</td>
    </tr>
    <tr>
        <th>System Date</th>
        <td>{{ i.date }}</td>
    </tr>
    <tr>
        <th>Time Zone DST</th>
        <td>{{ i.timezonedst }}</td>
    </tr>
    <tr>
        <th>Time Zone Standard</th>
        <td>{{ i.timezonestandard }}</td>
    </tr>
    <tr>
        <th>Processor</th>
        <td>{{ i.processor }}</td>
    </tr>
    <tr>
        <th>Processor Type</th>
        <td>{{ i.proctype }}</td>
    </tr>
    <tr>
        <th>Primary Network Adapter MAC</th>
        <td>{{ i.mac }}</td>
    </tr>
    <tr>
        <th>Total Physical Memory</th>
        <td>{{ i.totalphysical }}</td>
    </tr>
    <tr>
        <th>Available Physical Memory</th>
        <td>{{ i.availphysical }}</td>
    </tr>
    <tr>
        <th>Uptime</th>
        <td>{{ i.uptime }}</td>
    </tr>
</table>

<h4>BIOS Information</h4>

<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">BIOS Date String</th>
        <td>{{ i.biosinfo/biosdate }}</td>
    </tr>
    <tr>
        <th>BIOS Version</th>
        <td>{{ i.biosinfo/biosversion }}</td>
    </tr>
</table>

<h4>Network Adapters</h4>

{% for networkinfo in get_list(i.networkarray.networkinfo) %}
    <h5>{{ networkinfo.description }}</h5>

    <table class="table table-condensed table-bordered" style="margin-left: 5px">
        <tr>
            <th style="width: 50%">Adapter</th>
            <td>{{ networkinfo.adapter }}</td>
        </tr>
        <tr>
            <th>MAC Address</th>
            <td>{{ networkinfo.mac }}</td>
        </tr>

        {% for ipinfo in get_list(networkinfo.iparray.ipinfo) %}
            {% if ipinfo.ipaddress %}
                <tr>
                    <th>IP Address</th>
                    <td>{{ ipinfo.ipaddress }}</td>
                </tr>
            {% endif %}
            {% if ipinfo.subnetmask %}
                <tr>
                    <th>Subnet Mask</th>
                    <td>{{ ipinfo.subnetmask }}</td>
                </tr>
            {% endif %}
        {% endfor %}

        {% for ipgateway in get_list(networkinfo.ipgatewayarray.ipgateway) %}
            <tr>
                <th>Gateway Information</th>
                <td>{{ ipgateway }}</td>
            </tr>
        {% endfor %}

        {% for dhcpserver in get_list(networkinfo.dhcpserverarray.dhcpserver) %}
            <tr>
                <th>DHCP Server</th>
                <td>{{ dhcpserver }}</td>
            </tr>
        {% endfor %}
    </table>

{% endfor %}