{% set i = content.systemrestoreitem %}

<table class="table table-condensed">
    <tr>
        <th>Name</th>
        <td>{{ i.restorepointname }}</td>
    </tr>
    <tr>
        <th>Full Path</th>
        <td>{{ i.restorepointfullpath }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ i.restorepointdescription }}</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ i.restorepointtype }}</td>
    </tr>
    <tr>
        <th>Created</th>
        <td>{{ i.created }}</td>
    </tr>
    <tr>
        <th>Change Event</th>
        <td>{{ i.changeevent }}</td>
    </tr>
    <tr>
        <th>Change Log File Name</th>
        <td>{{ i.changelogfilename }}</td>
    </tr>
    <tr>
        <th>Change Log Entry Sequence Number</th>
        <td>{{ i.changelogentrysequencenumber }}</td>
    </tr>
    <tr>
        <th>Change Log Entry Type</th>
        <td>{{ i.changelogentrytype }}</td>
    </tr>
    <tr>
        <th>Change Log Entry Flags</th>
        <td>{{ i.changelogentryflags }}</td>
    </tr>
    <tr>
        <th>File Attributes</th>
        <td>{{ i.fileattributes }}</td>
    </tr>
    <tr>
        <th>ACL Change Username</th>
        <td>{{ i.aclchangeusername }}</td>
    </tr>
    <tr>
        <th>ACL Change Security ID</th>
        <td>{{ i.aclchangesecurityid }}</td>
    </tr>
    <tr>
        <th>Process Name</th>
        <td>{{ i.processname }}</td>
    </tr>
    <tr>
        <th>Debug Info Process ID</th>
        <td>{{ i.debuginfoprocessid }}</td>
    </tr>
    <tr>
        <th>Debug Info Thread ID</th>
        <td>{{ i.debuginfothreadid }}</td>
    </tr>
    <tr>
        <th>Debug Info Process Name</th>
        <td>{{ i.debuginfoprocessname }}</td>
    </tr>
    <tr>
        <th>Debug Info Time Stamp</th>
        <td>{{ i.debuginfotimestamp }}</td>
    </tr>
    <tr>
        <th>Original FileName</th>
        <td>{{ i.originalfilename }}</td>
    </tr>
    <tr>
        <th>Original Volume Path</th>
        <td>{{ i.originalvolumepath }}</td>
    </tr>
    <tr>
        <th>Original Short File Name</th>
        <td>{{ i.originalshortfilename }}</td>
    </tr>
    <tr>
        <th>Backup File Name</th>
        <td>{{ i.backupfilename }}</td>
    </tr>
    <tr>
        <th>New Name</th>
        <td>{{ i.newfilename }}</td>
    </tr>
</table>

<h4>Registry Hives</h4>

<table class="table table-condensed">
    <tr>
        <th>Hive Name</th>
    </tr>
    {% for s in get_list(i.registryhives.string) %}
        <tr>
            <td>{{ s }}</td>
        </tr>
    {% endfor %}
</table>