{% set i = content.taskitem %}

<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">Name</th>
        <td>{{ i.name }}</td>
    </tr>
    <tr>
        <th>Comment</th>
        <td>{{ i.comment }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ i.status }}</td>
    </tr>
    <tr>
        <th>Priority</th>
        <td>{{ i.priority }}</td>
    </tr>
    <tr>
        <th>Exit Code</th>
        <td>{{ i.exitcode }}</td>
    </tr>
    <tr>
        <th>Creator</th>
        <td>{{ i.creator }}</td>
    </tr>
    <tr>
        <th>Account Name</th>
        <td>{{ i.accountname }}</td>
    </tr>
    {% if i.virtualpath %}
    <tr>
        <th>Virtual Path</th>
        <td>{{ i.virtualpath }}</td>
    </tr>
    {% endif %}
    {% if i.creationdate %}
    <tr>
        <th>Creation Date</th>
        <td>{{ i.creationdate }}</td>
    </tr>
    {% endif %}
    {% if i.accountrunlevel %}
    <tr>
        <th>Account Run Level</th>
        <td>{{ i.accountrunlevel }}</td>
    </tr>
    {% endif %}
    {% if i.accountlogontype %}
    <tr>
        <th>Account Logon Type</th>
        <td>{{ i.accountlogontype }}</td>
    </tr>
    {% endif %}
    {% if i.md5sum %}
    <tr>
        <th>MD5 Sum</th>
        <td>{{ i.md5sum }}</td>
    </tr>
    {% endif %}
    {% if i.sha1sum %}
    <tr>
        <th>SHA1 Sum</th>
        <td>{{ i.sha1sum }}</td>
    </tr>
    {% endif %}
    {% if i.sha256sum %}
    <tr>
        <th>SHA256 Sum</th>
        <td>{{ i.sha256sum }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Flags</th>
        <td>{{ i.flag }}</td>
    </tr>
</table>

{% if i.actionlist %}
    <h4>Actions</h4>
    {% for action in get_list(i.actionlist.action) %}
        <h5>{{ action.actiontype }}</h5>
        <table class="table table-condensed table-bordered" style="margin-left: 10px">
            <tr>
                <th style="width: 50%">ExecProgramPath</th>
                <td>{{ action.execprogrampath }}</td>
            </tr>
            <tr>
                <th>ExecArguments</th>
                <td>{{ action.execarguments }}</td>
            </tr>
        </table>
    {% endfor %}
{% endif %}

{% if i.applicationname %}
<h4>Application</h4>
<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">Application Name</th>
        <td >{{ i.applicationname }}</td>
    </tr>
    <tr>
        <th>Parameters</th>
        <td>{{ i.parameters }}</td>
    </tr>
    <tr>
        <th>Working Directory</th>
        <td>{{ i.workingdirectory }}</td>
    </tr>
    <tr>
        <th>Work Item Data</th>
        <td>{{ i.workitemdata }}</td>
    </tr>
</table>
{% endif %}

<h4>Schedule</h4>
<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">Most Recent Run Time</th>
        <td>{{ i.mostrecentruntime }}</td>
    </tr>
    <tr>
        <th>Next Run Time</th>
        <td>{{ i.nextruntime }}</td>
    </tr>
    <tr>
        <th>Max Run Time</th>
        <td>{{ i.maxruntime }}</td>
    </tr>
</table>


{% if i.signatureexists or i.signatureverified or i.signaturedescription or i.certificatesubject or i.certificateissuer %}
<h4>Digital Signature</h4>

<table class="table table-condensed">
    {% if i.signatureexists %}
    <tr>
        <th class="sf-audit-heading">Signature Exists</th>
        <td>{{ i.signatureexists }}</td>
    </tr>
    {% endif %}
    {% if i.signatureverified %}
    <tr>
        <th>Signature Verified</th>
        <td >{{ i.signatureverified }}</td>
    </tr>
    {% endif %}
    {% if i.signaturedescription %}
    <tr>
        <th>Signature Description</th>
        <td >{{ i.signaturedescription }}</td>
    </tr>
    {% endif %}
    {% if i.certificatesubject %}
    <tr>
        <th>Certificate Subject</th>
        <td >{{ i.certificatesubject }}</td>
    </tr>
    {% endif %}
    {% if i.certificateissuer %}
    <tr>
        <th>Certificate Issuer</th>
        <td >{{ i.certificateissuer }}</td>
    </tr>
    {% endif %}
</table>
{% endif %}


<h4>Triggers</h4>
{% for trigger in get_list(i.triggerlist.trigger) %}

    <h5>{{ trigger.triggerbegin }}</h5>

    <table class="table table-condensed table-bordered" style="margin-left: 10px">
        <tr>
            <th style="width: 50%">Begins</th>
            <td>{{ trigger.triggerbegin }}</td>
        </tr>
        <tr>
            <th>Frequency</th>
            <td>{{ trigger.triggerfrequency }}</td>
        </tr>
        <tr>
            <th>Trigger Enabled</th>
            <td>{{ trigger.triggerenabled }}</td>
        </tr>
        <tr>
            <th>Trigger End</th>
            <td>{{ trigger.triggerend }}</td>
        </tr>
        <tr>
            <th>Max Run Time</th>
            <td>{{ trigger.triggermaxruntime }}</td>
        </tr>
        <tr>
            <th>Delay</th>
            <td>{{ trigger.triggerdelay }}</td>
        </tr>
        <tr>
            <th>Session Change Type</th>
            <td>{{ trigger.triggersessionchangetype }}</td>
        </tr>
        <tr>
            <th>Subscription</th>
            <td>{{ trigger.triggersubscription }}</td>
        </tr>
        <tr>
            <th>Value Queries</th>
            <td>{{ trigger.triggervaluequeries }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ trigger.triggerusername }}</td>
        </tr>
    </table>
{% endfor %}