{% set i = content.urlhistoryitem %}

<h4>URL History Item Info</h4>

<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">Profile</th>
        <td>{{ i.profile }}</td>
    </tr>
    <tr>
        <th>Browser Name</th>
        <td>{{ i.browsername }}</td>
    </tr>
    <tr>
        <th>Browser Version</th>
        <td>{{ i.browserversion }}</td>
    </tr>
    <tr>
        <th>User Name</th>
        <td>{{ i.username }}</td>
    </tr>
    <tr>
        <th>URL</th>
        <td>{{ i.url }}</td>
    </tr>
    <tr>
        <th>Page Title</th>
        <td>{{ i.pagetitle }}</td>
    </tr>
    <tr>
        <th>Host Name</th>
        <td>{{ i.hostname }}</td>
    </tr>
    <tr>
        <th>User Typed</th>
        <td>{{ i.typed }}</td>
    </tr>
    <tr>
        <th>Hidden</th>
        <td>{{ i.hidden }}</td>
    </tr>
    <tr>
        <th>Visited From</th>
        <td>{{ i.visitfrom }}</td>
    </tr>
    <tr>
        <th>Visit Type</th>
        <td>{{ i.visittype }}</td>
    </tr>
    <tr>
        <th>Visit Count</th>
        <td>{{ i.visitcount }}</td>
    </tr>
    <tr>
        <th>Last Visited</th>
        <td>{{ i.lastvisitdate }}</td>
    </tr>
    <tr>
        <th>Last Visited Local</th>
        <td>{{ i.lastvisitdatelocal }}</td>
    </tr>
    <tr>
        <th>First Visited</th>
        <td>{{ i.firstvisitdate }}</td>
    </tr>
    <tr>
        <th>First Bookmarked</th>
        <td>{{ i.firstbookmarkdate }}</td>
    </tr>
    <tr>
        <th>Thumbnail</th>
        <td>{{ i.thumbnail }}</td>
    </tr>
    <tr>
        <th>Indexed Content</th>
        <td>{{ i.indexedcontent }}</td>
    </tr>
</table>