{% set i = content.useritem %}
 
<h4>User Info</h4>
        
<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">User Name</th>
        <td>{{ i.username }}</td>
    </tr>
    <tr>
        <th>Full Name</th>
        <td>{{ i.fullname }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ i.description }}</td>
    </tr>
    <tr>
        <th>Home Directory</th>
        <td>{{ i.homedirectory }}</td>
    </tr>
    <tr>
        <th>Script Path</th>
        <td>{{ i.scriptpath }}</td>
    </tr>
    <tr>
        <th>Security ID</th>
        <td>{{ i.securityid }}</td>
    </tr>
    <tr>
        <th>Security Type</th>
        <td>{{ i.securitytype }}</td>
    </tr>
    <tr>
        <th>Last Login</th>
        <td>{{ i.lastlogin }}</td>
    </tr>
    <tr>
        <th>Is Disabled</th>
        <td>{{ i.disabled }}</td>
    </tr>
    <tr>
        <th>Is Locked Out</th>
        <td>{{ i.lockedout }}</td>
    </tr>
    <tr>
        <th>Is Password Required</th>
        <td>{{ i.passwordrequired }}</td>
    </tr>
    <tr>
        <th>Password Age</th>
        <td>{{ i.userpasswordage }}</td>
    </tr>
</table>
       
<h4>Groups</h4>
<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">Group Name</th>
    </tr>
    {% for name in get_list(i.grouplist.groupname) %}
        <tr>
            <td>{{ name }}</td>
        </tr>
    {% endfor %}
</table>
    