{% set i = content.volumeitem %}

<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">Volume Name</th>
        <td>{{ i.volumename }}</td>
    </tr>
    <tr>
        <th>Device Path</th>
        <td>{{ i.devicepath }}</td>
    </tr>
    <tr>
        <th>Drive Letter</th>
        <td>{{ i.driveletter }}</td>
    </tr>
    <tr>
        <th>Volume Type</th>
        <td>{{ i.type }}</td>
    </tr>
    <tr>
        <th>File System</th>
        <td>{{ i.filesystemname }}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ i.name }}</td>
    </tr>
    <tr>
        <th>Serial Number</th>
        <td>{{ i.serialnumber }}</td>
    </tr>
    <tr>
        <th>Creation Time</th>
        <td>{{ i.creationtime }}</td>
    </tr>
    <tr>
        <th>Is Mounted</th>
        <td>{{ i.ismounted }}</td>
    </tr>
</table>

<h4>Flags</h4>

<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">File System Flags</th>
        <td>{{ i.filesystemflags }}</td>
    </tr>
</table>

<h4>Allocation Information</h4>

<table class="table table-condensed">
    <tr>
        <th class="sf-audit-heading">Bytes per Sector</th>
        <td>{{ i.bytespersector }}</td>
    </tr>
    <tr>
        <th>Sectors per allocation unit</th>
        <td>{{ i.sectorsperallocationunit }}</td>
    </tr>
    <tr>
        <th>Total Allocation Units</th>
        <td>{{ i.totalallocationunits }}</td>
    </tr>
    <tr>
        <th>Available Allocation Units</th>
        <td>{{ i.actualavailableallocationunits }}</td>
    </tr>
</table>