{% extends "common/base.html" %}

{% block title %}StrikeFinder - {{ super() }}{% endblock %}

{% block head %}
{{ super() }}

<!-- todo: Need to add the appropriate NT files when they are created. -->
{% if node_env == "prod" %}
{# Include the compressed StrikeFinder Javascript file. #}
<script lang="text/javascript" src="/static/sf/js/strikefinder.js"></script>
<script lang="text/javascript" src="/static/nt/js/network.js"></script>
{% else %}
{# Include the raw StrikeFinder Javascript source files. #}
<script lang="text/javascript" src="/static/sf/js/utils.js"></script>
<script lang="text/javascript" src="/static/sf/js/models.js"></script>
<script lang="text/javascript" src="/static/sf/js/components.js"></script>

<script lang="text/javascript" src="/static/sf/js/hits.js"></script>

<script lang="text/javascript" src="/static/sf/js/acquisitions.js"></script>
<script lang="text/javascript" src="/static/sf/js/hits-by-tag.js"></script>
<script lang="text/javascript" src="/static/sf/js/hosts.js"></script>
<script lang="text/javascript" src="/static/sf/js/shopping.js"></script>
<script lang="text/javascript" src="/static/sf/js/suppressions.js"></script>
<script lang="text/javascript" src="/static/sf/js/tasks.js"></script>

<script lang="text/javascript" src="/static/sf/js/tasks.js"></script>
{% endif %}

{# Include the compiled templates. #}
<script lang="text/javascript" src="/static/nt/js/alerts.js"></script>
{% endblock %}

{% block nav_menu %}
<li><a href="/nt/alerts/"><i class="fa fa-bell"></i> Alerts</a></li>
{% endblock %}

{% block form_menu %}
<!--<input id="host-typeahead" type="text" placeholder="Search for Host or IP"/>-->
{% endblock %}

{% block tail %}
{{ super() }}

<div id="context-menu-div" style="display: none">
</div>

<div id="dialog-div">
</div>

{% endblock %}
