<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comment-o"></i> Activity
    </div>
    <div class="panel-body">
        <div class="activity-list">
            yo!
        </div>
    </div>
</div>