<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comment-o"></i> Activity Feed
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control comment" rows="5" style="font-family: courier, monospace; font-size: 85%"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin-top: 15px">
                <div class="pull-right">
                    <button class="btn btn-default add-comment">
                        <i class="fa fa-plus"></i> Add Comment
                    </button>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-sm-12">
                <div class="activity-list-region"></div>
            </div>
        </div>
    </div>
</div>
