<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-phone"></i> Callback Communication from Infected Host
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-1">
                <label>Server</label>
            </div>
            <div class="col-sm-5">
                <%= item.server %>
            </div>
            <div class="col-sm-1">
                <label>Protocol</label>
            </div>
            <div class="col-sm-5">
                <%= item.protocol %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="editor_region"></div>
            </div>
        </div>
    </div>
</div>