<div class="row">
    <div class="col-sm-12">
        <div id="alerts-breadcrumbs"></div>
    </div>
</div>

<div id="alerts-filters" class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-filter"></i> Alert Filters</div>
            <div class="panel-body">
                <div id="alerts-filters-content"></div>
            </div>
        </div>
    </div>
</div>

<div id="alerts-lists" class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-list"></i> Alert Selection</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-5">
                        <div id="alerts-summary-list"></div>
                    </div>
                    <div class="col-sm-7" style="padding-left: 0">
                        <div id="alerts-details-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="alert-details" class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i> Alert Details</div>
            <div class="panel-body">
                <div id="alert-details-content"></div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">-->
    <!--<div class="col-sm-12">-->
        <!--<button id="remove-button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Remove View</button>-->
    <!--</div>-->
<!--</div>-->