<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-phone"></i> Callback Communication from Infected Host
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="well" style="padding: 0; font-size: 85%; font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;">
                    <% if (item.protocol) { %>
                    <%= item.protocol.toUpperCase() %>
                    <% } %>
                    <%= item.address %>:<%= item.port %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="editor_region"></div>
            </div>
        </div>
    </div>
</div>