<% if (alert.services && alert.services.length > 0) { %>
<div class="row">
    <div class="col-sm-12">
        <% _.each(alert.services, function(service) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-phone"></i> Callback Communication from Infected Host
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label>Server</label>
                    </div>
                    <div class="col-sm-4">
                        <%= service.server %>
                    </div>
                    <div class="col-sm-2">
                        <label>Protocol</label>
                    </div>
                    <div class="col-sm-4">
                        <%= service.protocol %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 uac-code" style="overflow: auto">
                        <% if (service.requests && service.requests.length > 0) { %>
                            <!-- There are requests. -->
                            <% _.each (service.requests, function(request) { %>
                                <p>
                                <% _.each(request, function(line) { %>
                                    <%= line %><br/>
                                <% }) %>
                                </p>
                            <% }) %>
                        <% } else { %>
                        Not Available
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<% } %>