<div class="row">
    <div class="col-sm-12">
        <div class="header-region"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-12">
                <div class="signatures-region"></div>

                <div class="interface-region"></div>

                <div class="request-region"></div>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="row">
            <div class="col-sm-12">
                <div class="artifacts-region"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-comment-o"></i> Activity
                    </div>
                    <div class="panel-body">
                        <div class="activity-list"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div id="raw-alert"></div>
            </div>
        </div>

    </div>

</div>