<div class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <icon class="fa fa-calendar-o"></icon>
                    OS Changes Timeline
                </h4>
            </div>
            <div class="modal-body" style="max-height: 950px; padding-left: 0; padding-right: 0; overflow-y: auto">
                <div class="container" style="width: 100%">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="timeline-region"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>