<ul class="list-unstyled">
    <li>Destination IP: <%= row.ipaddress %></li>
    <li>Destination Port: <%= row.destination_port %></li>
    <li>Protocol: <%= row.protocol_type %></li>
    <%= processinfo(row.processinfo) %>
</ul>