{% extends "/base.html" %}

{% block title %}APT Alerts - {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block data_main %}alerts/main/AlertsMain{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="alerts-search"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div id="alerts-summary-list"></div>
        </div>
        <div class="col-lg-6">
            <div id="alerts-details-list"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="alerts-details"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button id="remove-button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Remove View</button>
        </div>
    </div>
</div>
{% endblock %}