{% extends "/base.html" %}

{% block title %}Alerts - {{ super() }}{% endblock %}

{% block head %}
{{ super() }}
<style>
    a.shield {
        width: 100%;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: default;
        border-radius: 0;
    }
</style>
{% endblock %}

{% block data_main %}alerts/main/AlertsMain{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="alerts-breadcrumb"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="alerts-search"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="alerts-list">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="alerts-details"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button id="remove-button" class="btn btn-danger"><i class="fa fa-times-circle"></i> Remove View</button>
        </div>
    </div>
</div>
{% endblock %}