{% extends "/base.html" %}

{% block title %}APT Alerts - {{ super() }}{% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript">
    require(['jquery', 'bootstrap', 'backbone', 'alerts/views/SearchView'],
        function ($, bs, Backbone, SearchView) {
            $(function () {
                //search_view = new SearchView({ el: '#test-div' });
//                search_view = new SearchView.TagsSearchView({ el: '#test-div' });
//                search_view.fetch();
//
//                $('#remove-button').on('click', function() {
//                    search_view.close();
//                    delete search_view;
//                });


                var tags_view = new SearchView.TagsSearchView({ el: '#test-div' });

                $('#fetch-button').on('click', function() {
                    tags_view.fetch();
                });
                $('#remove-button').on('click', function() {
                    tags_view.close();
                });
            });
        });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="test-div"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button id="fetch-button"class="btn btn-primary">Fetch</button>
            <button id="remove-button"class="btn btn-danger">Remove</button>
        </div>
    </div>
</div>
{% endblock %}