{% extends "/bootstrap/base.html" %}

{% block title %}Mandiant{% endblock %}

{% block head %}
{{ super() }}

<link href="/static/common/css/base.css" rel="stylesheet"/>
<link href="/static/datatables/css/jquery.dataTables.css" rel="stylesheet"/>
<link href="/static/datatables/css/dataTables.bootstrap.css" rel="stylesheet"/>
<link href="/static/css/select2.css" rel="stylesheet"/>
<link href="/static/css/bootstrapSwitch.css" rel="stylesheet"/>

<!-- log4javascript configuration -->
<script src="/static/js/log4javascript.js"></script>
<script type="text/javascript">
    var log = log4javascript.getLogger();
    var console_appender = new log4javascript.BrowserConsoleAppender();
    console_appender.setLayout(new log4javascript.SimpleLayout());
    log.addAppender(console_appender);
    log.setLevel(log4javascript.Level.DEBUG);
</script>

<!-- Backbone Support -->
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/backbone-min.js"></script>

<!-- Underscore String support -->
<script src="/static/js/underscore.string.min.js"></script>
<script type="text/javascript">
    _.mixin(_.str.exports());
</script>

<script src="/static/js/jquery.bootstrap-growl.min.js"></script>

<!-- Datatables Support -->
<script src="/static/datatables/js/jquery.dataTables.min.js"></script>
<script src="/static/datatables/js/dataTables.bootstrap.js"></script>

<!-- Select2 -->
<script src="/static/js/select2.min.js"></script>

<script src="/static/js/bootstrapSwitch.js"></script>

<script src="/static/js/jquery.blockUI.js"></script>

<script src="/static/js/jQuery.highlighter.js"></script>

<script src="/static/js/jquery.iocViewer.js"></script>
<link href="/static/css/jquery.iocViewer.css" rel="stylesheet"/>

<script src="/static/js/moment.min.js"></script>
<script src="/static/js/jquery.scrollTo.min.js"></script>

<!-- Common UAC support. -->
<script src="/static/uac/js/common.js"></script>


<style type="text/css">
    .mandiant-logo {
        background-image: url('/static/img/mandiant-trans.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>
{% endblock %}

{% block body %}
{{ super() }}

<div id="wrap">
    {% block nav %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container" style="width: 100%">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img style="width: auto; height: 18px; vertical-align: top; border: solid 1px"
                         src="/static/img/mandiant-bw.ico"> UAC
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% block nav_menu %}
                    {% endblock %}
                </ul>

                <form class="navbar-form navbar-left">
                    {% block form_menu %}
                    {% endblock %}
                </form>

                {% if req.attributes.uid %}
                <ul id="uac-user-nav" class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i> {{ req.attributes.uid }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ settings.sso.login_url }}" target="_blank">
                                    <i class="icon-fixed-width fa fa-cogs"></i> SSO Settings
                                </a>
                            </li>
                            <li class="divider"></li>
                            {% for theme in themes %}
                            <li class="{% if theme.id == current_theme %}disabled{% endif %}">
                                <a class="uac-theme" data-uac-theme="{{ theme.id }}">
                                    <i class="fa fa-picture-o"></i> {{ theme.name }} Theme
                                </a>
                            </li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li>
                                <a href="/logout/">
                                    <i class="fa fa-sign-out"></i> Sign Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block tail %}

    {% endblock %}
</div>

<div id="footer">
    {% block footer %}
    <div class="container">
        <p class="text-muted credit">
            &copy; 2013 Mandiant Corporation. All rights reserved.
            <span class="pull-right">Version: 0.5.0</span>
        </p>
    </div>
    {% endblock %}
</div>
{% endblock %}
