<label>Type of Alert</label>
<ul class="list-unstyled">
    <% _.each (types, function(type) { %>
    <li>
        <input id="type" type="checkbox" value="<%= type.id %>"/> <%= type.id %>
    </li>
    <% }) %>
</ul>


<hr/>

<input id="include_hx" type="checkbox" value=""/> <label>Include HX</label>