<div class="row">
    <div class="col-sm-12">
        <table style="width: 100%;">
            <tr>
                <td class="uac-theme-border-right" style="width: 25%; padding: 15px; vertical-align: top">
                    <div id="search-tags"></div>
                </td>
                <td class="uac-theme-border-right" style="width: 25%; padding: 15px; vertical-align: top">
                    <div id="search-clients"></div>
                </td>
                <td class="uac-theme-border-right" style="width: 25%; padding: 15px; vertical-align: top">
                    <div id="search-time"></div>
                </td>
                <td style="width: 25%; padding: 15px; vertical-align: top">
                    <div id="search-types"></div>
                    <hr/>
                    <div id="search-hx"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <button id="search-button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
            <button id="reset-button" class="btn btn-default"><i class="fa fa-refresh"></i> Reset</button>
        </div>
    </div>
</div>
